[2013-12-18 10:32] djs55 opened #58 "'mirage run' (unix): fatal error "net_tap0""
This error is a bit low-level:

[code]

[2013-12-19 23:20] #58 closed, assigned to nobody

[2013-12-27 20:58] philtomson opened #71 "Unbound module Cowabloga.Feed"
I was able to build & run the hello world example for for unix and xen. Went on to tackle the mirage-www example. Followed the instructions here: http://openmirage.org/wiki/mirage-www

$ mirage configure --unix
MIRAGE      Using the scanned config file: config.ml
MIRAGE      Compiling and dynlinkg /mnt/mint/phil/development/OCaml_stuff/mirage/mirage-www/src/config.ml
MIRAGE      + Executing: rm -r

[2013-12-27 23:45] #71 closed, assigned to nobody

[2013-12-28 00:28] philtomson opened #73 "Package `mirage-http-xen' not found"
After getting the mirage-www unix instructions working, I went on to do the xen version:
$  export MODE=fat
$ mirage configure --xen
MIRAGE      Using the scanned config file: config.ml
MIRAGE      Compiling and dynlinkg /root/mirage/mirage-www/src/config.ml
MIRAGE      + Executing: rm -rf /root/mirage/mirage-www/src/_build/config.*
MIRAGE      + Executing: cd /root/mirage/mirage-www/src && ocamlb

[2014-02-28 11:30] #73 closed, assigned to nobody

[2014-07-08 19:28] amirmc opened #152 "Cannot copy text from mobile browser"
I just tried to copy/paste text from the site and failed miserably. Not sure if this something in the framework or elsewhere.

Safari on iOS in 7.1.1

[2014-07-08 20:11] amirmc opened #155 "Support multiple blog authors"
At the moment, each blog post or wiki page can only have one author. Frustrating when you want to credit multiple authors for a piece of work (c.f. the TLS intro, which should include David Kaloper)

[2014-07-08 20:12] amirmc opened #156 "Add Planet feed to website"
A blog roll of contributors should be added to the site.

[2014-07-08 20:14] amirmc opened #157 "Make the links page visible"
We have http://openmirage.org/links, which is not linked from any of the pages (hence, you can only find it if you know the URL).  This should be made visible somewhere.

[2014-07-10 22:55] amirmc opened #168 "Define the titles and URLs for upcoming posts"
I'd like to know in advance the titles and preferred URLs of the upcoming posts defined in https://github.com/mirage/mirage/issues/257

The URLs especially, as I'd like to add them in places like the news release _now_, so they'll be live by the time it goes out. As you can see, I'm not feeling very imaginative, so help with titles would be appreciated (as that means we can keep the URL similar).

[2014-07-11 17:25] lnmx opened #173 "wiki/mirage-www: camlp4orf not found"
I was working through http://openmirage.org/wiki/mirage-www and got a build error trying to `make depend` in `mirage-www/src`: ulex 1.1 failed to install because `camlp4orf` was not found.

camlp4 was already installed in opam, but there was no camlp4orf binary.

My workaround (on Ubuntu 14.04) was to `apt-get install camlp4-extra`.  After that, everything built OK.

Does this indicate a problem i

[2014-07-12 12:08] #173 closed, assigned to nobody

[2014-07-15 19:49] yomimono opened #183 ""API" link goes to outdated docs"
[The "API" link](http://mirage.github.io/) has docs for old versions of packages (e.g., `mirage-tcpip-unix` and `mirage-tcpip-xen` instead of `mirage-tcpip`).

[2014-07-18 21:35] #155 closed, assigned to nobody

[2014-07-18 21:37] amirmc opened #193 "Wrap video in a Flex video div"
I assume we're using Zurb Foundation in cowabloga

http://foundation.zurb.com/docs/components/flex_video.html

[2014-07-21 11:43] #193 closed, assigned to nobody

[2014-07-23 14:40] ghost opened #197 "fail to compile on Codio"
followed yur instructions here :)
http://anil.recoil.org/2014/03/26/codio-now-has-opam-support.html

Codio Box IDE if you want to check is here.
https://codio.com/gedw99/mirage

When i got to the 2nd last step is failed
opam install mirage-www -y

Terminal error message.
=-=-= Installing tcpip.1.1.2 =-=-=
default    Downloading https://opam.ocaml.org/archives/tcpip.1.1.2+opam.tar.gz
Downloading ht

[2014-07-23 19:55] #168 closed, assigned to nobody

[2014-07-23 20:20] amirmc opened #198 "add new links"
We have a collection of new links we should add to the http://openmirage.org/links page (there might be dupes in the following)

**HN threads**
- [x] Irmin intro: https://news.ycombinator.com/item?id=8053687
- [x] TLS intro: https://news.ycombinator.com/item?id=8005130
- [x] TLS/ASN1: https://news.ycombinator.com/item?id=8020125
- [x] Mirage site: https://news.ycombinator.com/item?id=7726748
- [x]

[2014-07-26 00:48] #198 closed, assigned to nobody

[2014-07-29 11:57] avsm opened #203 "Add hidpi version of MirageOS picture to website header"
Reported by @dbuenzli

Lars Kurth will supply a new one in a few weeks.

[2014-08-09 13:09] amirmc opened #206 "Add MISO talk at EF to links page"
http://amirchaudhry.com/describing-miso-entrepreneur-first-2014/

[2014-08-10 16:45] #206 closed, assigned to amirmc

[2014-08-12 22:56] Chris00 opened #210 "xen-on-cubieboard2.md: why cubieez"
@talex5 In the initial section "Initial testing", you say you want to see that "everything works".  I interpreted that as checking that the board is functioning properly.  If so, why not just boot without a SD card — the console will show Android booting which is IMHO enough to check that the board works and to make sure one connected the serial cable properly.

[2014-08-13 13:22] Chris00 opened #216 "Add an addendum for the cubietruck"
It is not clear to me whether some specific instructions are required (firmware?) to get the USB and WIFI working on the cubietruck — I do not have such a board.  If yes, an addendum could be useful. @MagnusS ?

[2014-10-16 21:51] piffio opened #230 "Cannot build on CentOS 6.5"
I'm trying to get into MirageOS by following the instructions / tutorial on http://openmirage.org

I was trying to build the mirage-www package on a CentOS 6.5 VM, and this is the error I get into:

[code]

Attached some additional information about the enviromnent:

Ocaml version:

[code]

Opam packages installed:

[code]

I tried to install the conduit package, but it fails rebuilding the `mirag

[2014-10-17 18:57] #230 closed, assigned to nobody

[2014-11-12 15:24] talex5 opened #237 "Someone is stealing the spaces between words"
Looks like newlines are being removed without putting a space between words. e.g.

http://openmirage.org/wiki/overview-of-mirage

[2014-11-12 16:06] avsm opened #238 "remove refs to mirage-dev in normal installation instructions"
Now not needed

[2014-11-12 19:28] jameshfisher opened #239 "is-mirage-broken predicts the future?"
Your [updates page](http://openmirage.org/updates/) has the top result:

That date is in the future -- can that be right?

It looks like that date originates from [this file](https://github.com/mirage/mirage-www/blob/956c42af6c6a21bd47ced2212e18d96dcc8aa089/src/bactrian.ml) which reads

    (*NOTE this file was generated by is-mirage-broken -- DO NOT EDIT*)
    ...
    let entry_for_is_mirage_brok

[2014-11-15 00:16] amirmc opened #241 "Add link to blog roll"
After Docker:
Unikernels and Immutable Infrastructure: https://medium.com/@darrenrush/after-docker-unikernels-and-immutable-infrastructure-93d5a91c849e (and [HN Thread](https://news.ycombinator.com/item?id=8606968))

[2014-11-17 20:13] #241 closed, assigned to nobody

[2014-12-13 11:40] #237 closed, assigned to nobody

[2014-12-19 05:04] amirmc opened #252 "Add IRLL video to links page"
https://www.irill.org/videos/oups-december-2014/MirageOS

[2014-12-21 06:28] ricpruss opened #253 "Hello World documentation has been broken by a change to mirage-skeleton."
Not sure if this is the write place to note the issue, I asked on IRC but folks were idled or frantically Christmas shopping.  No big deal but the [hello world page](http://www.openmirage.org/wiki/hello-world), step 4 is broken due to a change in the mirage-skeleton.

Step 4 of the hello world has the following instruction
[code]
This change [Fix the stackv4 example to not use HTTP (which is now C

[2014-12-27 13:44] amirmc opened #254 "Add ccc video to links page"
Add video of Hannes and David's talk to links page.

http://vod.c3voc.de/relive/6443/index.m3u8

[2014-12-30 02:17] #252 closed, assigned to nobody

[2014-12-30 02:17] #254 closed, assigned to nobody

[2015-01-04 12:05] amirmc opened #261 "Add article on OS Technologies To Watch to links page"
OS Technologies To Watch
http://gfxmonk.net/2015/01/04/os-technologies-to-watch.html

[2015-01-06 18:23] amirmc commented on #261
Closed in #263

[2015-01-06 18:24] #261 closed

[2015-01-14 23:35] amirmc opened #265 "Cannot serve mirage-www locally"
I can't seem to serve the site locally. It builds ok and I can run it (via `sudo mirage run`) but I get no pings from `10.0.0.2` (after setting `tap0`).

I'm as up to date as I can get with packages although I get the following:

[code]
[code]

I'm on OSX 10.8.5 using the internal opam solver on OCaml 4.01.0

[2015-01-14 23:36] amirmc commented on #265
[code]

[2015-01-14 23:36] amirmc commented on #265
I feel I must be missing something obvious but not sure where to start.

[2015-01-14 23:45] amirmc commented on #265
When I try to run `mir-www` directly I see the following repeating.

[code]

[2015-01-15 00:29] infidel commented on #265
Those messages mean that the unikernel is looking for a DHCP server. The code in config.ml is:

[code]
To tell it to use the static IP address instead, go to the "src" folder and use:

DHCP="" mirage configure --unix

And then "make" and run it.

[2015-01-15 01:15] amirmc commented on #265
Many thanks @infidel! The default was changed in https://github.com/mirage/mirage-www/commit/68c8471d140206d8dc0fa3a47a8b0f444e652d3f (two weeks ago)

[2015-01-15 01:15] #265 closed

[2015-01-15 01:19] amirmc opened #267 "Update instructions for building mirage-www"
The DHCP default was changed in https://github.com/mirage/mirage-www/commit/68c8471d140206d8dc0fa3a47a8b0f444e652d3f but the [instructions on the website](http://openmirage.org/wiki/mirage-www) don't reflect this change.  Anyone following the instructions to debug might be confused - cf #265

[2015-01-15 01:30] amirmc commented on #267
Actually the site does say

"DHCP is either blank or set to any value (which is considered true). Disabling DHCP assumes a development IP address of 10.0.0.2…"

but I completely skipped past this as I was looking at the incantations themselves. I don't think it's very clear so I'll think of how to improve it.

[2015-01-16 11:59] amirmc opened #268 "More writeups for the link log"
- [ ] http://blog.acolyer.org/2015/01/13/unikernels-library-operating-systems-for-the-cloud/
- [ ] http://blog.acolyer.org/2015/01/14/mergeable-persistent-data-structures/

[2015-01-26 13:03] amirmc opened #269 "Set up a redirect to point people at weekly notes"
Redirect http://openmirage.org/wiki/weekly/ to http://openmirage.org/docs/#Weeklycallsandreleasenotes

Alternatively, just make a page at the former URL.

[2015-01-26 15:37] amirmc opened #270 "Expose Pioneer Projects on main website"
At a minimum we should link to the wiki page but it would be cool if we could incorporate the content directly into the website.

(meta: maybe this should be a pioneer project?)

[2015-02-10 03:02] marklrh commented on #270
It would be really easy if we can figure out a way to get the markdown text of that wiki page.

[2015-02-10 03:11] amirmc commented on #270
GitHub wikis are also git repos themselves and the pages are actually markdown already.

Append '.wiki' to the main repo name and you get the git repo of the wiki (if that makes sense).

[2015-02-10 04:23] marklrh commented on #270
I found the [raw link](https://raw.githubusercontent.com/wiki/mirage/mirage-www/Pioneer-Projects.md)

[2015-02-10 04:36] marklrh commented on #270
but I am not sure where we want to place this pioneer project link

[2015-02-10 05:45] garasubo opened #279 "Docs :: Hello Mirage World seems to be out-of-date"
Step 4: Networking of Docs:: Hello Mirage World seems to be out-of-date.
In this document, if stackv4 example run, we can `curl localhost` and return `hello mirage world`.
But I tried this, there are no response.
I searched the string "hello" in the source code, but there are no such string in the stackv4 example.

[2015-02-10 07:21] avsm commented on #270
There's a contributions page that it could go into -- and that page can go on the front page somewhere or the menu.

[2015-02-10 14:25] talex5 commented on #279
There's @heidi-ann's PR to update it here: https://github.com/mirage/mirage-www/pull/271
It should probably be updated for the latest version, which removes the confusing http bits.

[2015-02-10 15:12] amirmc opened #281 "Travis scripts are broken"
See https://github.com/mirage/mirage-www/pull/280#issuecomment-73714863

[2015-02-10 15:19] amirmc commented on #281
Builds fails because `https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-ocaml.sh` returns a `Not Found`

It look like @mor1 is working on a fork of that repo so this will likely remain broken until things are merged upstream into the repo that @samoht has been working on. Maybe I'm going overboard with calls of brittleness but it does make debugging a travis failure mo

[2015-02-10 15:44] samoht commented on #281
This is because of https://github.com/ocaml/ocaml-travisci-skeleton/pull/24 I've just merged the PR, I'll re-run the Travis tests.

[2015-02-11 02:27] garasubo commented on #279
I'm ｓorry for my  carelessness.
I miss that PR.

[2015-02-11 04:54] marklrh commented on #270
@amirmc I am not experienced with Mirage's design but I am studying it. Since we have the link to the wiki, I suppose we want to write a function like [read_tmpl](https://github.com/mirage/mirage-www/blob/master/src/dispatch.ml#L11) such that given the a http link (rather than a filesystem path), it can return its content as ``string Lwt.t``. Then, I guess we also need a ``Cohttp.Client`` for ``mo

[2015-02-11 07:36] marklrh commented on #269
It' easy to do a patter matching as ``[x] when x = "weekly"`` at [line 63 of wiki.ml](https://github.com/mirage/mirage-www/blob/master/src/wiki.ml#L63) and redirect to the ``main_page``, but I failed to figure out how to jump to the section "#Weeklycallsandreleasenotes". Can I have some hints (つд⊂) ?

[2015-02-11 09:09] mor1 commented on #281
...at present the output unikernel from travis won't boot anyway so it's all moot until that's fixed...

[2015-02-11 09:09] #281 closed

[2015-02-12 11:51] mackwic opened #285 "Please increase the TTL of http://www.openmirage.org"
Hi, I really don't know where this issue should be posted, don't hesitate to correct me and I will move the issue where it should be.

So, I am currently in a place where the only Internet is available through 3G and satellite connections, with often 20/25 seconds latency.
http://www.openmirage.org throw a 504 gate timeout around 10seconds, which means that I can't consult the doc when the sky is

[2015-02-12 13:13] #279 closed

[2015-02-12 13:16] talex5 commented on #279
No problem - thanks for the reminder! I've merged the update to mirage-www. It should show up in the next deployment.

[2015-02-13 10:08] avsm commented on #285
I'm not sure which TTL you are referring to here -- do you mean IP TTL?  The 504 gateway timeout is being generated by a proxy on your 3G connection, not our website.  Reporting this issue on https://github.com/mirage/mirage-tcpip/issues is the best place, as it's probably something that can be modified in our TCP/IP stack once we know the problem.

[2015-02-17 18:16] amirmc opened #289 "Unable to serve the website locally"
I feel I must be doing something wrong. The site builds just fine but I can't serve it locally.
The incantation I used is.

[code]

and in another shell `sudo ifconfig tap0 10.0.0.1 255.255.255.0`

I was able to build the site last week but (as normal) did an opam update before this time.  Any suggestions? I feel I'm missing something obvious. The versions of libs I have are:

[code]

[2015-02-17 18:20] talex5 commented on #289
Don't know what the underlying cause is, but for testing the site you can always just use sockets (which doesn't require root either):

    env NET=socket PORT=8080 mirage configure --unix

[2015-02-17 18:23] amirmc commented on #289
Much appreciated! I'd completely forgotten about that.

[2015-02-20 12:20] amirmc opened #290 "Auto-tweet each item as it gets added to the RSS feed"
We have a twitter account and we should be auto-tweeting content that gets added to the site. Most of this already ends up in the RSS feed so I wonder that hooking something into that would be a simple way of achieving this (tweet a title and link).

A twitter, unikernel bot could be set up to do this but it would require an awesome name (apparently [roadrunners](https://en.wikipedia.org/wiki/Grea

[2015-03-06 16:52] amirmc commented on #289
Closing as I can no longer repro this (I updated my opam pacakges too).

[2015-03-06 16:52] #289 closed

[2015-03-06 17:07] amirmc commented on #183
Does running `opam search -s org:mirage` not give us what we need?

[2015-03-06 17:25] amirmc commented on #152
No-one else has reported this so I'm not inclined to look into it any further. Closing.

[2015-03-06 17:25] #152 closed

[2015-03-06 23:01] #268 closed

[2015-03-24 09:04] lambdaxdotx opened #299 "Precise instructions on how to run mirage-www socket mode"
I have followed your instructions on how to build and run mirage-www on socket mode:
[code]
but this fails to run properly, as I got:
[code]
Using `sudo ./mir-www` all works fine.

[2015-03-24 09:42] talex5 commented on #299
Try:

    env NET=socket PORT=8080 mirage configure --unix

Unix doesn't allow non-root processes to listen on ports < 1024.

[2015-03-24 09:51] lambdaxdotx commented on #299
Yep, that's perfect.
I don't know if it worth changing the mirage-www guide on the website.

[2015-03-24 10:12] amirmc opened #300 "Automatically test the getting started instructions"
We should be able to run tests on the instructions for building mir-www (and any others).  I'm thinking of something similar to the [99 problems page](http://ocaml.org/learn/tutorials/99problems.html) on OCaml.org ([source](https://raw.githubusercontent.com/ocaml/ocaml.org/master/site/learn/tutorials/99problems.md)), but in reverse.  i.e. the code snippets on the page are pulled in from version-co

[2015-03-24 10:24] amirmc commented on #238
Looks like this was this fixed in https://github.com/mirage/mirage-www/commit/17e57bf0fea50ddedfb973bae8b8b8165f904c15 so closing this.  It's still present in the blog posts but we need to deal with that separately.

[2015-03-24 10:24] #238 closed

[2015-03-24 10:25] amirmc commented on #299
Thanks for reporting this!  I've opened #300 as I think we need an automated way of ensuring these work.

[2015-03-25 18:44] hannesm opened #302 "mirage-xen not in `TROVE`"
is this intentional?

[2015-03-25 18:50] samoht commented on #302
no :p

[2015-03-25 23:50] #302 closed

[2015-04-15 15:07] amirmc opened #307 "Add podcast to links page"
Via email to mirage list:

security protocols which are readable, fast, robust; and also MirageOS.

questions http://monoxyd.de/20150408-ohm-008-ohne-heftige-mangel

Add to 'Links' section.

@hannesm, would you mind submitting a PR for this?

[2015-04-15 21:33] #307 closed

[2015-04-15 21:33] #299 closed

[2015-04-20 11:45] amirmc opened #309 "New links for links page"
I'll keep a list here until I (or someone else) gets around to adding them.
- http://www.thoughtworks.com/p2magazine/issue11/the-future-of-cloud/

[2015-04-20 16:26] amirmc opened #310 "Site build error locally"
Ok, what am I doing wrong now?

[code]

[code]

[2015-04-20 16:27] amirmc commented on #310
I've just realised I haven't done `brew update` in a while.  I'm running that and will update to opam 1.2.1 and maybe this issue will go away.

[2015-04-20 16:37] amirmc commented on #310
That didn't help.  I found my way to [this](https://github.com/Homebrew/homebrew/issues/188), which indicates that this might be related to homebrew.

[2015-04-20 20:17] samoht commented on #310
[code]

This seems to indicate that `opam` still thinks that your OCaml system compiler is `4.01` while you've updated your compiler version (with `brew`) to 4.02. You need to recompile your switch. Or to remove `setup.data`, call `eval 'opam config env'`and call `make` again.

[2015-04-20 22:28] amirmc commented on #310
I rebuilt the switch, reinstalled the packages, made sure I was on opam 1.2.1 and the site now builds just fine.  Had a bit of a hiccup with ocaml-uri but it seems to have sorted itself out. Closing.

[2015-04-20 22:29] #310 closed

[2015-05-03 09:36] #269 closed

[2015-05-03 13:51] moonlightdrive commented on #157
I think this can be closed... links is currently under Community in the menu.

[2015-05-03 14:10] amirmc commented on #157
Agreed.

[2015-05-03 14:10] #157 closed

[2015-05-05 17:07] amirmc opened #316 "Load balance the site across supported backends"
*From the MirageOS mailing list*

To do this we would need to:
- modify the Travis deployment scripts to build all the variants and not just Xen/x86_64
- alter mirage-www to include information on which backend it is using and display it in the HTML
- deploy a couple of DNS unikernels that do RR balancing across each of the different backends.

See email at: http://lists.xenproject.org/archives/ht

[2015-05-12 14:50] amirmc opened #318 "Blog post on mirage-seal"
Need a post to introduce `mirage seal` - https://github.com/mirage/mirage-www/issues/new

cc: @samoht

[2015-05-13 13:02] dbuenzli opened #319 "http://openmirage.org/wiki/atom.xml feed replay"
It seems that I had a http://openmirage.org/wiki/atom.xml feed replay today.

I don't know how you generate your uuids but in any case here's a relatively fullproof way of generating uuids in atom feeds.
1. Generate a RFC 4122 V4 (random based) root uuid for your feed uuid. Keep it preciously.
2. For each entry use a RFC 4122 V5 (sha-1 name based) that uses the uuid of the feed as the name space a

[2015-05-13 16:03] lnmx commented on #319
Same here; in wiki/atom.xml, the entry ids are URLs:

    <entry><id>https://openmirage.org/wiki/weekly-2015-04-09</id>...</entry>

I would guess that the `<id>`s changed from `http://` to `https://` as part of the HTTPS rollout for mirage.io?  It looks like openmirage.org is not serving HTTPS, so the links are broken, too.

[2015-05-13 16:17] dbuenzli commented on #319
Ouch. Using URIs as feed entry IDs it the last thing you want to use.

[2015-05-15 10:55] amirmc opened #320 "Post about upcoming TLS releases"
Issue to track a short series of posts about the upcoming TLS support in MirageOS. These are not in any particular order and content can probably be folded into a smaller number of posts.

All posts are intended for publication on ~~openmirage.org~~ **https://mirage.io** :)

- [x] Fri 26 Jun - Mirage release blog post (changes, features) by @samoht and @amirmc (include couple of short paragraphs o

[2015-05-15 10:57] amirmc commented on #320
@hannesm @pqwy @samoht @avsm please comment.  These posts would be scheduled for the last week of May.

[2015-05-15 11:00] avsm commented on #320
Looks good -- one on testing and protocol compliance would be good to describe the trace checker (perhaps instead of TLS libs).

[2015-05-15 11:01] hannesm commented on #320
one on TLS unix tools -- tlstunnel, jackline, s_client (not yet there) might be worth doing (read as I'm volunteering)
numbers in the pinata draft are subject to change (now that pinata run for another month ;)

[2015-05-15 11:02] avsm commented on #320
Ah yes good point -- perhaps the TLS Unix tools could be a "different ways to deploy the stack and use it in your own apps"

[2015-05-15 11:12] amirmc commented on #320
Edited the list.
- Swapped out TLS libs for TLS unix tools (which is way more interesting).
- Added Testing and protocol compliance
- Added speculative names for each piece of content

[2015-05-15 11:52] hannesm commented on #320
updated list with names...

[2015-05-19 17:03] hannesm commented on #320
update from talking with amir: 3 posts, monday, wednesday, friday:
pinata recap
tools (seal + unix tools)
entropy

then following monday press release (and mirage-2.5 release announcement) including usenix paper preprint.

[2015-05-19 17:09] amirmc commented on #320
Thx for the reminder. I updated the top comment.

[2015-05-19 17:24] amirmc opened #321 "Error: Out of memory (on blog page)"
Visit http://openmirage.org/blog/ and you'll see the following error:
`Error: Out of memory`

It's working fine on https://mirage.io/blog

[2015-05-19 17:25] hannesm commented on #320
I updated pinata numbers and PR #322

[2015-05-20 12:55] amirmc opened #323 "Add talk summary to Links page"
Someone 'storyfied' my recent talk at IoT summit -- am trying to get access to the video.

https://storify.com/UK_Richard/highlights-from-iot-summit-london-may-11-12-2015

[2015-05-20 15:36] amirmc commented on #320
Added a note about having a lightweight security process.

[2015-05-21 08:27] amirmc commented on #321
Seems to be working today.

[2015-05-23 14:27] hannesm commented on #320
I think https://github.com/mirage/mirage/issues/406 is blocking this (we should fix it before a release)...
on a second thought, tools etc. should go into wiki (as #324 does)... so, what about only pinata (wed) and entropy (fri), then press + paper preprint on mon?

[2015-05-25 12:31] amirmc commented on #320
Yes, 406 definitely needs to be fixed before publicising.  We had a buffer of a week so we can use that now (the news release also still needs work).

I’ll push back the dates so that we can get the issues fixed over the coming week.  That’s still before the next public talk (Anil at QCon NYC).

I agree that TLS tools belong in the wiki but it’s very useful to have a pointer to them from the blog

[2015-05-29 12:53] lnmx commented on #319
The entry ids are back to `http://`; I believe this was a deployment issue that has since been corrected.

[2015-06-02 11:08] amirmc commented on #320
@samoht could you send me a couple of sentences on Mirage Seal for the news release?

[2015-06-03 14:10] amirmc commented on #320
Hi folks, Pls see my comment on the releases at https://github.com/mirage/mirage/issues/409#issuecomment-108438612

[2015-06-05 12:57] amirmc commented on #321
I think this was uncovered and fixed elsewhere (something to do with `Crunch`, I believe).  Closing this.

[2015-06-05 12:57] #321 closed

[2015-06-05 13:05] samoht commented on #321
indeed it has been fixed. It was an issue with redirections (typo in the hostname).

[2015-06-06 11:46] amirmc opened #329 "Travis deploy scripts not working"
From the recent travis build failure (see [here](https://travis-ci.org/mirage/mirage-www/jobs/65647414))

[code]

I can't help much with the scripts as I'm no longer sure where to look.

@dsheets @mor1, any thoughts on what's going on?

[2015-06-06 15:13] dsheets commented on #329
This is due to using sh instead of bash... Anil has now fixed it by explicitly declaring `XENIMG`. Now tracked by ocaml/ocaml-travisci-skeleton#47.

[2015-06-06 15:13] #329 closed

[2015-06-06 17:24] amirmc opened #330 "How to keep various backends/stacks in sync"
How do we currently keep the different backends in sync when new content is added?  I assume the unikernel at https://mirage.io is manually built/deployed and at the moment, hence the content is out of sync with http://openmirage.org at the moment  (I typically prefer to point ppl at the mirage.io site where possible).

[2015-06-10 13:09] amirmc commented on #320
After a chat w @samoht today, I've updated the dates/posts in the issue.

[2015-06-10 13:36] hannesm commented on #320
great. regarding security: did anyone approach xenproject to have them setup a private mailing list for mirage to act as security contact?
unrelated: in the news release (or somewhere else?) there should be sth about logjam and ocaml-tls

[2015-06-10 13:55] amirmc commented on #320
Re: Security mailing list.  I think this might be one we should set up ourselves. Xen Project has it’s own list that’s distinct to the other mailing lists.

Re: Logjam and OCaml-TLS. Yup, we should add info about this but I need to chat with you first.

[2015-06-15 14:09] amirmc commented on #320
Hi folks,  Just a note that I have a call with LF this afternoon. We're discussing the release (inc timing) so I'm adjusting the schedule above (it only affects the first two posts for now).

We may need to adjust again.  I'll comment here either way.

[2015-06-16 10:55] amirmc commented on #320
I need to try rewriting this to get the message across more clearly.  I can discuss this on this week's dev call but for the time-being I won't be merging any posts just yet.

[2015-06-17 13:18] djs55 opened #337 ""make" run fails"
[code]
Possibly this target should be removed?

[2015-06-17 13:22] djs55 opened #338 "Misleading flag in Makefile (IPADDR ?= dhcp)"
The Makefile suggests that you should configure this variable:
[code]
but actually the `config.ml` does something different:
[code]
(I think `NET` is ok but the others are wrong or missing)

[2015-06-18 09:57] amirmc opened #339 "Add a page that lists breaking changes"
via @talex5 on the [mailing list](http://lists.xenproject.org/archives/html/mirageos-devel/2015-06/msg00132.html)

breaking API changes recently, and it would be very nice if there were
a page on the web-site listing breaking API changes, saying:

configure")

We do note breaking changes in the `changes` files of repos but there's a good point that aggregating a list of them in one place would be

[2015-06-18 10:00] dsheets commented on #339
We should adopt a consistent practice around this (as well as `CHANGES` formatting in general). [avsm/opam-repo-tools](https://github.com/avsm/opam-repo-tools) has an embryonic changelog parser but we may want to start over. We should build change log parsing and checking into our automation and additionally adopt a way to reference code identifiers which can be automatically linked to the relevan

[2015-06-18 11:24] talex5 commented on #339
I think we might want to write more user-friendly entries than just scraping changelogs.
If we want people to use mirage in production, this is something we need to do well.

Anyway, I've made a PR with an example entry here: https://github.com/mirage/mirage-www/pull/340

[2015-06-18 11:28] dsheets commented on #339
I agree that there is a need for drafting good, user-friendly change documentation to help people migrate their code. That would be complementary to changelog automation.

[2015-06-18 17:10] mor1 commented on #337
As a general rule, `run` targets should be removed from all the various
mirage Makefiles I think -- never worked reliably, even less likely to work
now...

On 17 June 2015 at 14:18, Dave Scott <notifications@github.com> wrote:

--
Richard Mortier
mort@cantab.net

[2015-06-19 15:07] samoht commented on #330
See #317 It is now just a matter of filling the right network configuration parameters in `.travis.yml`. @mor1 you said you might be able to help with that? Or @avsm?

[2015-06-20 13:36] mor1 commented on #330
Happy to help -- it seems that we need to

1. update `.travis.yml` to build two Xen targets with different `NAME` and
`IP` etc params
2. update `mirage/mirage-www-deployment` so that when `deploy.sh` is run by
the post-merge hook, it determines which (possibly both) of the images have
updated, and invokes `xl` appropriately to destroy and boot said images

That right?

@avsm Are there any particul

[2015-06-22 11:44] samoht commented on #320
@amirmc any update on this? Would it be possible to update the dates of the blog post release to match what is planned? Thanks!

[2015-06-22 13:15] amirmc commented on #320
I'd like @avsm to catchup and comment as to where things stand.

[2015-06-23 23:32] amirmc commented on #320
I updated the schedule with the latest thoughts. The order is slightly different as we'd lead with the release and the changes this introduced (important to get that out there quickly).  It would be good to know if there will be any further releases that might affect any instructions.

[2015-06-24 08:24] hannesm commented on #320
mirage-seal instructions currently depend on `openssl`, but soon [tm] we should have another nocrypto/tls/x.509 release (strictly needed is only X.509 + naming branch, but this involves changes to TLS, and Nocrypto API changed as well) which enables https://github.com/yomimono/ocaml-certify (and unbreaks https://github.com/hannesm/tlsclient).

@pqwy any idea when nocrypto release will be ready and

[2015-06-24 09:54] samoht commented on #320
I'm still updating `mirage-www` to deploy both https://mirage.io and http://openmirage.org. The current state is here: https://github.com/mirage/mirage-www/pull/317 I need to check that the redirection works fine and to sort out how to mount a fat image on the deployment server.

[2015-06-24 14:57] #339 closed

[2015-06-24 14:57] samoht commented on #339
This is now online at http://openmirage.org/wiki/breaking-changes

[2015-06-24 14:58] samoht commented on #337
yes, we should remove all the mention to `make run`. The base Makefile is broken, I usually just go into `src/` and configure here directly. PR are welcome to fix this.

[2015-06-24 14:59] samoht commented on #330
the post-merge hook, it determines which (possibly both) of the images have
updated, and invokes `xl` appropriately to destroy and boot said images

where is that post-merge hook defined? I don't understand how the final step of the deployment takes place.

[2015-06-24 22:50] amirmc commented on #330
Do the following notes help? http://amirchaudhry.com/heroku-for-unikernels-pt1/#deployment-scripts (it's possible they're a little out of date -- I haven't checked)

[2015-06-24 22:52] amirmc commented on #339
We still need to come up with an automated way of dealing with this in future.  Ideally, we should only have to note/document such changes in one place and have content update by magic.

[2015-06-25 07:24] samoht commented on #330
@amirmc thanks! actually I found it yesterday: https://github.com/mirage/mirage-www-deployment/pull/2

[2015-06-25 11:32] amirmc commented on #320
Hi folks,

Just a quick note to clarify what's happening.

- We're continuing with blog posts about the recent TLS integration work (schedule above).
- We'll time the first post with/after the switch to using https://mirage.io as the canonical URL (old URLs will redirect).  It makes sense to do this together. @samoht, is it ok to schedule this switch for tomorrow?
- I'll send a note to the main li

[2015-06-26 13:10] amirmc opened #344 "Socket config currently ignored"
My usual process is to use the following, which builds just fine.
[code]

But running it doesn't work.
[code]

[2015-06-26 13:15] avsm commented on #344
Preface it with sudo

[2015-06-26 13:19] talex5 commented on #344
Looks like the port is now hard-coded to 80 in `dispatch.ml`:

https://github.com/mirage/mirage-www/blob/0da4898b16e9efcd0c322dcc2984a49d87a9d37b/src/dispatch.ml#L216

[2015-06-26 13:19] amirmc commented on #344
Face, meet Palm.  Palm, this is face.  I'm sure you'll get on great together.

(Thanks, folks. now working)

[2015-06-26 13:19] #344 closed

[2015-06-26 13:50] dbuenzli commented on #319
Could you fix this please, the feed replays are getting annoying.

[2015-06-26 14:36] amirmc commented on #320
First set of content is now in #345.

[2015-06-26 14:46] lnmx commented on #319
So, http://openmirage.org/wiki/atom.xml is now redirecting (301) to https://mirage.io/wiki/atom.xml, and the entry IDs have changed again to reflect the new host.  Hopefully the new host/redirect scheme is stable for now, and you should not see any more replays related to that.

[2015-06-26 14:55] dbuenzli commented on #319
Well I'd still argue that this is a completely broken way of managing feed entry ids which only makes you violate [RFC 4287 section 4.2.6](https://tools.ietf.org/html/rfc4287#section-4.2.6) repeatedly (and would again e.g. if a wiki page changes its uri).

[2015-06-26 22:12] samoht opened #347 "Only the master branch should be pushed live"

[2015-06-26 22:12] samoht commented on #347
See https://github.com/ocaml/ocaml-travisci-skeleton/commit/7950dd2a11aa69e55b3393bd279a5ae7ca1da8de for a broken tentative at fixing this

[2015-06-26 22:21] Drup commented on #347
since you are using travis, why not just use the `$TRAVIS_BRANCH` env variable ?

[2015-06-26 22:24] samoht commented on #347
err ... sounds like a good idea :-)

[2015-06-26 22:35] Drup commented on #347
Personally, I also do [that](https://github.com/Drup/LILiS/blob/master/.travis-ci.sh#L38) so that it doesn't try to deploy if it's a fork with CI enabled ....

[2015-06-29 12:27] #347 closed

[2015-06-29 12:29] amirmc commented on #320
Hi folks, I'll be merging the Piñata review post this afternoon.

[2015-06-29 15:09] amirmc commented on #320
Piñata post is now live at https://mirage.io/blog/bitcoin-pinata-results

[2015-06-29 17:10] amirmc opened #351 "Site seems slow to load"
The new site seems slow to load.  It occasionally appears as though the page has hung and reloading is necessary.

Are there any outstanding issues that this might be related to?

[2015-06-29 17:16] hannesm commented on #351
this occassionally happened to the http site as well, btw... also, looking at the stats not sure if all the memory leaks are gone or not..

[2015-06-29 17:18] amirmc commented on #351
Yup, but I used to notice that less often in recent times (I felt that I rarely had to wait for the page to load).  I thought we'd fixed the recent networking issues. @samoht any thoughts?

[2015-06-29 18:20] samoht commented on #351
@magnusm found that we got a lot of retransmissions (there is an issue in mirage-tcpip bug tracker)

[2015-06-29 18:36] amirmc commented on #351
These seem to be the issues Thomas is referring to (just so they're linked):

- https://github.com/mirage/mirage-tcpip/issues/140
- https://github.com/mirage/mirage-tcpip/issues/157

[2015-06-29 19:34] djs55 opened #352 "Large variations in ping times"
[code]

[2015-06-29 19:37] djs55 commented on #351
Separately from TCP, I notice the is large variation in ping time:

https://github.com/mirage/mirage-www/issues/352

The console is also fairly busy -- the kernel might be blocking performing
these writes. Here's a sample (lots fly past if you connect to it):

200 GET /css/font-awesome.css
200 GET /js/vendor/custom.modernizr.js
200 GET /js/vendor/jquery.min.js
200 GET /js/foundation/foundation.min

[2015-06-29 19:38] djs55 commented on #352
Maybe a cause: the console is very busy with traffic like

[code]

[2015-06-29 20:17] MagnusS commented on #351
Regarding https://github.com/mirage/mirage-tcpip/issues/157, it seems that if we loose a packet we are sometimes unable to recover and the connection stalls - and in some cases this also triggers lots of retransmissions and duplicate ACKs. I'm not sure what happens to those connections afterwards... or how common it is. But it is relatively easy to reproduce by running the iperf w/packet loss test

[2015-06-30 08:18] avsm commented on #351
It's probably easiest to modify the TCP/IP stack to dump a pcap trace for any connection above a certain latency.

[2015-06-30 09:41] samoht commented on #352
The console outputs are supposed to be asynchronous. Is there a way to get the number of lines waiting to be printed on the console, or maybe we should discard console lines with there is too much pressure?

[2015-06-30 10:47] djs55 commented on #352
You're right -- `Console.log` looks like it will truncate rather than
block. It must be blocking somewhere else, causing the ping time problem.

On Tue, Jun 30, 2015 at 10:41 AM, Thomas Gazagnaire <
notifications@github.com> wrote:

--
Dave Scott

[2015-06-30 10:51] djs55 commented on #352
Interestingly in `xentop` when this happens:

[code]
the domain's CPU spikes to 70%-- it looks like it's doing something
CPU-bound which is starving the ethernet layer?

On Tue, Jun 30, 2015 at 11:47 AM, David Scott <scott.dj@gmail.com> wrote:

--
Dave Scott

[2015-06-30 11:05] samoht commented on #352
Can the RRDs be causing something like that?

[2015-06-30 11:37] talex5 commented on #352
Even if `Console.log` doesn't block, it will still fill up the buffer, which may cause other callers (using `log_s`) to block.

How about compiling it with tracing on? Then we can see what it's doing with mirage-trace-viewer (or, what it was doing, if it crashes or hangs). Tracing does have some overhead though, so if we can reproduce the problems on a test instance that would be ideal.

Note: `mi

[2015-06-30 13:14] samoht commented on #352
@talex5 can you create a PR to enable traces on mirage-www?

[2015-06-30 13:17] yomimono commented on #352
@samoht Do I remember correctly that you had to use FAT and a filesystem to host the keys?  If that's the case, mightn't this be our first time using these modules to host the site?

I'm building mirage-www (with a selfsigned cert) locally and hope to get some useful traces out of it, but it just occurred to me that I'm doing this with crunch and so it may not be a good mirror of the site as it's

[2015-06-30 13:27] yomimono commented on #352
I can see variable (sub-ms to hundred+-ms) ping delays running the unikernel locally, and high CPU usage in xentop.  Both vary in the obvious way with the number of incoming requests.  [A trace is available](http://yomimono.org/tls_out.ctf) if anyone's interested; I haven't yet looked at it but plan to.

[2015-06-30 13:44] talex5 commented on #352
@samoht https://github.com/mirage/mirage-www/pull/354

[2015-06-30 13:49] talex5 commented on #352
@yomimono looks like it's spending half its time on lots and lots of small GC runs. Is this part of the TCP debug settings, or does it just need more memory?

BTW, we should apply your patch https://github.com/mirage/mirage-tcpip/pull/156 too, to get rid of those exceptions.

[2015-06-30 14:02] samoht commented on #352
yes, the certificates are stored on a (very small) FAT filesystem.

[2015-06-30 14:18] samoht commented on #352
hum, it seems that mirage-www is reloading (and parsing) all the webpages on each query.... might explain why it's becoming slow...

[2015-06-30 14:26] avsm commented on #352
That would destroy the performance indeed!

[2015-06-30 14:31] yomimono commented on #338
I went to patch this as a side effect of building mirage-www locally and got distracted by new variables REDIRECT and HOST; is there already a summary of their semantics somewhere?  If not I can puzzle it out from config and dispatch and write one up. (@samoht?)

[2015-06-30 14:39] samoht commented on #338
err no sorry I haven't written anything about them yet. If you have the time to draft that, that would be very helpful! Thanks!

[2015-06-30 14:58] #352 closed

[2015-06-30 16:26] amirmc opened #357 "Some kind of mouse offset issue with the stats visualisation"
Hard to get a screenshot as it depends on the mouse position but here's how to repo:
- Go to the stats page at https://mirage.io/stats/gc?timescale=minute
- Hover over a certain time point to get detailed values at that time point
- Notice that the actual data (and marker) is some way _to the right_ of the actual cursor
- Move the cursor left and right and observe that it's some kind of scaling ef

[2015-06-30 19:09] amirmc commented on #320
@pqwy How is the Entropy post coming along? ;)

[2015-07-01 00:26] pqwy commented on #320
@amirmc *Slowly* :smile: But I hope to have something to show tomorrow.

[2015-07-01 08:58] yomimono commented on #351
Does this seem better for folks since #355 was merged?

[2015-07-01 09:00] avsm commented on #351
massively better from my tests

[2015-07-01 09:30] djs55 commented on #357
This is [djs55/ocaml-c3#8] -- I've not had time to investigate it yet. I
need to reproduce it with pure c3 in .js, and if it reproduces there I can
file a bug upstream.

On Tue, Jun 30, 2015 at 5:26 PM, Amir Chaudhry <notifications@github.com>
wrote:

--
Dave Scott

[2015-07-01 09:49] amirmc commented on #351
**Hugely** improved from my subjective usage of the site. :)

Best wishes,
Amir

--
Sent via mobile

[2015-07-01 09:50] #351 closed

[2015-07-01 09:51] samoht commented on #351
I'm happy to have a fast website again

[2015-07-04 13:29] mor1 commented on #338
This looks to me like it can be closed now -- @djs55 any objections?

[2015-07-04 13:41] djs55 commented on #338
The doc is much better now, thanks!

[2015-07-04 13:41] #338 closed

[2015-07-06 08:30] amirmc commented on #318
A draft is in #335

[2015-07-06 08:30] #318 closed

[2015-07-06 14:22] amirmc commented on #320
Hey @pqwy, anything to review? Would be great to have something to look over by Weds. [insert emoji that signifies 'hopeful']

[2015-07-07 18:54] pqwy commented on #320
@amirmc

Raw text in #361. Needs cleanup and review, not sure if It can be ready by tomorrow, but Thu surely.

Apologies for being glacially slow.

[2015-07-10 10:13] amirmc opened #363 "Add blog post describing the stats page"
Following on from #350.

@djs55 have you had a chance to have a go at this?

[2015-07-10 10:27] hannesm commented on #363
I think response times would be great to include in the statistics.

[2015-07-11 17:10] dongcarl commented on #337
fixed the unix bits of hello-world in #364

[2015-07-11 17:13] dongcarl commented on #253
I think #271 fixed it

[2015-07-11 17:16] #253 closed

[2015-07-11 17:16] samoht commented on #253
Thanks for noticing.

[2015-07-11 17:20] dongcarl opened #365 "Inconsistent prefixing for command line invocation"
In https://github.com/mirage/mirage-www/blob/ff3dd44e38ccd873454d5eb07ec4383c50e126f0/tmpl/wiki/hello-world.md, some command line invocations are prefixed by "$ ", and some are not. Is there a reason for this?

[2015-07-11 17:23] avsm commented on #365
Traditionally this is to indicate a command that is either root (`#`) or a normal user (`$`).  It's almost certainly inconsistent here though...

[2015-07-11 17:28] dongcarl commented on #365
@avsm Haha yes I knew that... Perhaps I'll make a pull request making everything "$ " sometime...

[2015-07-11 18:42] amirmc commented on #309
http://forums.juniper.net/t5/Industry-Solutions-and-Trends/Unikernel-for-Virtual-Network-Functions-VNF/ba-p/277319

[2015-07-11 21:17] moonlightdrive opened #366 "contributing.md: broken link to opam docs"
On the [contributing](https://mirage.io/wiki/contributing) page, this link is broken:

Not sure if you want it to point here? http://opam.ocaml.org/doc/1.1/Developing.html
I cannot find an equivalent page in the 1.2 docs

[2015-07-11 21:36] mor1 commented on #366
I guess <https://opam.ocaml.org/doc/Packaging.html#Sometricks> or even
just  <https://opam.ocaml.org/doc/Packaging.html>?

On 11 July 2015 at 22:17, Jyotsna <notifications@github.com> wrote:

--
Richard Mortier
mort@cantab.net

[2015-07-12 19:42] moonlightdrive opened #368 "Where is .travis-www.ml?"
Hi, I was hoping to take a look at this file referenced by both [Deploying via CI](https://mirage.io/wiki/deploying-via-ci) and [Building the website](https://mirage.io/wiki/mirage-www).

Apparently it was here: https://github.com/mirage/mirage-www/blob/master/.travis-www.ml, but where is it now? Thanks!

[2015-07-12 20:00] samoht commented on #368
It is now here: https://github.com/ocaml/ocaml-travisci-skeleton/blob/master/travis_mirage.ml

[2015-07-16 16:30] Drup opened #371 "The regexp guide"
There is a regexp guide here: https://mirage.io/wiki/ocaml-regexp

It seems outdated and I'm not sure what it aims to achieve, it does a lot of arguing and not a lot of teaching (and talk about a library that is not used in mirage). Should it be removed ? renovated ? If the later, how ?

[2015-07-16 16:37] Drup commented on #371
FWIW, by pure curiosity, I added Re to the benchmark [here](https://github.com/Drup/regexp-benchmark) (the execution beats everyone, but str parsing seems a bit slow).

[2015-07-16 19:43] dbuenzli commented on #371
Destroy it. Most programmers use regexps for wrong purposes.

[2015-07-16 19:55] Drup commented on #371
Well, that's beside the point. The question is more if it's useful to use mirage, and I don't feel like it is.

[2015-07-18 08:07] mor1 commented on #368
Closing as I've updated the intro pages, including both of those referenced so hopefully there aren't any dangling links now. Please reopen if I missed something!

[2015-07-18 08:07] #368 closed

[2015-07-18 08:07] mor1 commented on #337
Closing as all mention of `make run` should now have been removed from the intro pages (hello-world, building the website, deployment). Are there others?

[2015-07-18 08:07] #337 closed

[2015-07-21 17:23] dsheets commented on #371
I think it's useful to point out that you can't use `Str` for regexps for true Mirage apps for a variety of reasons. Outlining the alternatives is also useful. The graph is pretty bad and some of the text could be cleaned, though.

[2015-07-21 17:32] dbuenzli commented on #371
Well there are a lot of libraries you can't use on Mirage for a variety of reasons, are you going to make a webpage for each of them ?

[2015-07-21 17:33] dsheets commented on #371
No, but `Str` is surprising given its functionality is purely functional. If there are other surprisingly incompatible libraries then, yes, I would advocate documentation about why they are incompatible and suggestions of alternatives or projects working on fixes.

[2015-07-21 17:34] dbuenzli commented on #371
Yes, a general webpage and sniffing guidelines for this seems more sensible.

[2015-07-21 17:35] hannesm opened #374 "is mirage broken is out of date"
this shows information from november 2014: https://mirage.io/wiki/is-mirage-broken ... some automation to get this in sync with reality would be great!

[2015-07-21 17:38] mor1 commented on #371
On 21 July 2015 at 18:34, Daniel Bünzli <notifications@github.com> wrote:

+1 particularly to the "sniffing guidelines" (if by that you mean
guidelines about how to determine whether or not a library is appropriate
to use with Mirage, and what to do about it).

Moar Power To The People and all that.

--
Richard Mortier
mort@cantab.net

[2015-07-21 17:39] dsheets opened #375 "Infrastructure: Split out the ARM build from the is-mirage-broken"
I don't know if this is the right repo to report to. Correct me and I'll go post elsewhere.

[2015-07-21 17:42] hannesm opened #376 "opam wiki entry is wrong"
`opam upgrade` does not `refresh all your remote repositories, and recompile any outdated libraries`, as advertised on https://mirage.io/wiki/opam .. an `opam update -u` or `opam update` followed by `opam upgrade` is needed instead

[2015-07-21 17:47] samoht commented on #371
+1 for kill it

[2015-07-22 16:47] amirmc opened #379 "Fix the 'Disk full' issues on the server (punk)"
@samoht noticed that the disk was full again, which prevent the automated deployment of the new unikernel.  Apparently this is the second time it's happened so we should put a fix in place.

[2015-07-22 17:19] amirmc commented on #320
Last post in this list is now live.

[2015-07-22 17:19] #320 closed

[2015-07-23 10:34] mor1 commented on #379
Had to fix that a couple of days ago to be able to restart my site too, and for latest mirage-www to be booted.

Fixes that spring to mind: make the disk bigger (not really a long-term fix); simply delete all the unikernel images apart from `$(cat latest)` from the the checked out commit-rev; compress and garbage collect history, removing old built unikernels from history. Basically we need a poli

[2015-07-23 14:29] #376 closed

[2015-07-26 15:26] amirmc commented on #375
Any report is a good report.  This is still down so I'm going to email the list about it.

[2015-07-26 15:31] amirmc commented on #374
The actual logs are at: https://github.com/mirage/is-mirage-broken/blob/master/logs/README.md

Some automation at build time to grab the correct input file seems like one approach.

(sidenote: is-mirage-broken isn't looking to happy at the moment)

[2015-07-27 10:43] avsm commented on #375
From the mailing list:

[2015-07-30 17:15] avsm commented on #379
An update: it turns out that there's a 500GB unused LVM group there.  I created a `/home` volume and am rsyncing the existing `/home` into that, and will do the swapover when complete. This will stop `/home` from existing on the root disk and fix this immediate issue.

[2015-08-04 22:31] yomimono opened #383 "tutorial-lwt.md teaches use of camlp4 lwt syntax extensions"
Per https://github.com/mirage/mirage/issues/405 , it's probably best not to encourage this.

tutorial-lwt.md could probably use attention for other reasons as well.

[2015-09-02 21:44] avsm commented on #366
@mor1 any chance of a pull req with those urls?  They sound right.

[2015-09-03 09:23] mor1 commented on #366
done; https://github.com/mirage/mirage-www/pull/387  will merge when travis goes green

[2015-09-03 09:23] #366 closed

[2015-10-01 10:13] amirmc opened #392 "Consider other video call options for the fortnightly video calls"
This was brought up on the [mailing list][1], so we should take another look at what's out there.  I asked people to email me directly, so as to avoid a lengthy, tangential discussion on the mailing list.  However, I decided to move this to an issue so there's more transparency about the discussions.

Just to set expectations, we'll be sticking with Google Hangout for the time being.

[1]: http://

[2015-10-01 10:18] amirmc commented on #392
*from @talex5 on the email thread*:

well. We seem to get more people joining the hangouts than we do when
we use GotoMeeting, I don't need to run a Windows VM to join, and the
picture quality is better. The need for a Google account and
installing a plugin is annoying, though.

In principle, I’d agree but not everyone who joins the Hangout is there for the call (occasionally, random G+ folks woul

[2015-10-01 10:20] amirmc commented on #392
Two other suggestions were:

- Jitsi - https://jitsi.org (open source, one positive review)

- BlueJeans (paid for) - http://bluejeans.com (I had one person tell me that Hangouts were better than this, though)

[2015-10-02 06:47] Chris00 commented on #392
The [comparison](https://en.wikipedia.org/wiki/Comparison_of_web_conferencing_software) may be a good starting point.  Some software that may be worth investigating:
- [Ring](http://ring.cx/?utm_content=buffera83e0&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer)
- [Blink](http://www.icanblink.com/)
- [Apache OpenMeetings](https://openmeetings.apache.org/)

[2015-10-02 06:55] hannesm commented on #392
I've successfully used and am quite happy with [mumble](http://wiki.mumble.info/wiki/Main_Page): it needs a server, and you've to use push-to-talk. it's audio only, but completely open source and runs even on marginalised operating systems such as FreeBSD ;)

[2015-10-02 10:56] Drup commented on #392
For all those, I think the absence of a web interface is an issue (this is why I like jitsi, especially since it doesn't need chrome/a plugin).

@hannesm : mumble works fine on voice-activation. ;)

[2015-10-13 14:27] amirmc commented on #392
I haven't had a chance to explore any of these since last week.  Would anyone have time to help me test some of these out over the next week or so?

(cc @yomimono, as she was also on the mailing list thread).

[2015-10-13 15:16] dbuenzli commented on #392
If this works it looks like a dream it seems you don't even need an account.

I can.

[2015-10-13 15:35] Drup commented on #392
I can too, to test with someone (a bit) further away.

[2015-10-14 10:52] amirmc commented on #392
A few of tried an impromptu experiment with https://meet.jit.si/ yesterday afternoon (most of us were in Cambridge, all of us were in the UK).

Overall, it seemed to work reasonably well.  There was a mix of hardware but we primarily used Firefox and Chrome.  It seems as though there may be issues with the picture-in-picture on Firefox but it did seem that everyone could hear each other. Screen-sh

[2015-10-14 10:54] mor1 commented on #392
On 14 October 2015 at 11:52, Amir Chaudhry <notifications@github.com> wrote:

FFox required a plugin for screen sharing, but not for anything else.
Didn't try screen sharing on Chrome.

--
Richard Mortier
richard.mortier@cl.cam.ac.uk

[2015-10-14 11:01] Drup commented on #392
I'm available to test it yes, just ping me on IRC.

[2015-10-14 13:17] amirmc commented on #392
Great! @pqwy is also happy to join and boost numbers.

[2015-10-16 08:26] amirmc commented on #392
We tried Jitsi out again after the last MirageOS call and it worked as well as previously.  The biggest feature was the ease of getting into the call (no login, account required).  This was sufficiently good that the people on the call agreed that we should just switch to using this system instead of Google Hangout.

It didn't seem worth trying out all the other options since this worked well enou

[2015-11-09 19:08] amirmc opened #404 "mirage.io appears to be down (functoria related?)"
Calling @samoht and others to the rescue!

[2015-11-09 19:11] amirmc commented on #404
See also #405

[2015-11-09 19:11] samoht commented on #404
See #405

The full trace:
[code]

This is related to @djs55 fixes on VBD numbering. I think it needs a second part to be applied in the deploy-script, but I can't find the related issue anymore.

Also, @MagnusS noticed that we call `Netif.connect` too many times (or at least the message is printed too often). This would need to be fixed.

[2015-11-09 19:34] Drup commented on #404
Does something need to be fixed in the generated code ?

[2015-11-09 19:43] samoht commented on #404
It's related to https://github.com/mirage/mirage/pull/440.

Would be also nice to check why we have so many `Netif.connect` though...

[2015-11-09 19:53] samoht commented on #404
Hum, still broken:

[code]

Also, the deploy scripts in https://github.com/mirage/mirage-www-deployment doesn't seem to use latest changes from @djs55 ...

[2015-11-09 20:03] samoht commented on #404
I managed to get the console of the new crashing domain, seems to have the same issue.

[code]

I think my previous fork has some custom patches, I'll try to dig if I can find them...

[2015-11-09 21:56] samoht commented on #404
And there's a race in the deployment script, sweet... (I guess both `openmirage.org` and `mirage.org` tried to push at the same time)

[code]

[2015-11-09 21:59] samoht opened #408 "Small race in the deploy script"
When pushing the final deployment image, `openmirage.org` and `mirage.io` both compete to push to the same branch. Usually the builds do not take the same time, so the race rarely happens and both pushes are successful, but sometime the race happens:

[code]

[2015-11-09 22:19] samoht commented on #404
Initial hack didn't work, trying an other hack. It's bit annoying that I've removed my branch with the original hack...

[2015-11-10 05:01] samoht commented on #404
replacing `xvbda` by `xvdb` in `mirage.io.xl` did the trick, but please can someone have a look and do a proper fix? Thanks

[2015-11-10 22:18] amirmc commented on #392
We used Jitsi for the last call and it went pretty well.  Unless anything drastic happens on the next call (tomorrow), we'll stick with this option for the foreseeable future.  Closing this issue now.

[2015-11-10 22:18] #392 closed

[2015-11-18 13:46] samoht commented on #404
I've reverted my revert in #410 @Drup do you have an idea where the repetition of  `Netif.connect` comes from.

[2015-11-20 23:24] amirmc opened #412 "Add blog post / xref about unikernel.org site"
Over on https://github.com/mirage/mirage/issues/469, @avsm said:

(see also: https://github.com/Unikernel-Systems/unikernel.org/issues/13)

[2015-11-27 16:12] Drup commented on #404
The answer is no, I don't have much idea beyond the obvious: connect is called multiple times. :|

[2015-11-29 16:00] samoht commented on #404
Current issue is:

[code]

The domain is supposed to automatically restart, I'm investigating why it's not the case now.

[2015-11-29 16:03] samoht commented on #404
Domain was stuck in:

[code]

I had to restart it manually. Not sure why `xl` just didn't restart the domain automatically...

[2015-11-29 16:07] samoht commented on #404
xen logs file give:

[code]

[2015-12-04 14:19] yomimono commented on #404
I looked at a `main.ml` generated with mirage's current trunk and wrote up a description of/issue for the multiple connects issue: https://github.com/mirage/mirage/issues/476

[2015-12-07 09:01] yallop opened #415 "2015 year-in-review blogpost"
Incorporate notes on

* [ ] Papers published
* [ ] Releases
* [ ] Talks, demos and other events
* [ ] Press/media
* [ ] Blog posts (both on mirage-www and elsewhere) and HN discussions
* [ ] New users and uses
* [ ] New contributors
* [ ] Interesting PRs and commits
* [ ] Related developments (OPAM, OCaml, RPI, js_of_ocaml etc.)
* [ ] Upcoming features
* [ ] Anything else?

[2015-12-07 15:33] avsm commented on #415
That looks like a solid list to start with!

[2015-12-07 16:36] amirmc opened #416 "Check/update the deploy scripts"
Something changed in the last 17 days and the the builds on `master` are failing at the deploy step.  From the [last build](https://travis-ci.org/mirage/mirage-www/builds/95346061), the error is:

[code]

@mor1 @samoht Is this something you were previously aware of?

[2015-12-08 12:22] amirmc commented on #416
Closing as the new pushes have built fine.

[2015-12-08 12:22] #416 closed

[2015-12-15 13:14] pkm2kor opened #419 "Regarding mini-os bootup"
Hi,
I am facing problem during mini-os boot-up. The execution breaks while checking for fdt_check_header while calling fdt32_to_cpu. I think it is not able to use the address of the dtb provided during arch_init.
The address i can see is 0x08400000.

(d3) Virtual -> physical offset = 3fc00000
(d3) Checking DTB at 08400000...
(d3) Fault handler at 004081ac called (prefetch_abort)

after this it dum

[2015-12-15 13:57] avsm commented on #419
This is an ARM device I assume -- which one?

[2015-12-15 13:58] pkm2kor commented on #419
Its odroid xu4.

[2015-12-15 15:18] pkm2kor commented on #419
HI Anil,

Sorry for my questions...

I am not understanding have we specified the address of dtb, and first of all we have not compiled any dtb with mini-os, so which dtb will be used here ?

[2015-12-17 12:10] #412 closed

[2015-12-18 11:03] talex5 commented on #419
Probably best to ask on the [Mini-OS list](http://lists.xenproject.org/cgi-bin/mailman/listinfo/minios-devel). Xen should be setting the r2 register itself before starting Mini-OS.

[2015-12-22 15:37] pkm2kor commented on #419
Thanks Thomas.
We have not appended ant dtb to mini-os image. this means that xen will provide dtb info. right?

[2015-12-22 16:33] talex5 commented on #419
Should do I think, though I don't know much about it. Is the whole DTB unreadable, or is it going wrong while scanning it? You could try modifying arm32.S to read the first word immediately, in case there's something wrong with the memory mapping.

e.g. `ldr r10, [r2]` at the start of `_reset` to put the first word of the DTB into `r10`, then move it into `r2` (`mov r2, r10`) just before `arch_ini

[2015-12-22 21:20] pkm2kor commented on #419
In the function "libxl__arch_domain_init_hw_description", where DTB is created by xen tools, i am able to dereference the pointer & call fdt_check_header(fdt) returns 0 i.e. it succeeds (i modified the above function and added the code to do this check).
I think after the DTB is copied to new location it is not accessible in arch_init function.

[2015-12-27 12:45] talex5 commented on #419
If you add the `ldr` I mentioned above, does it crash immediately on boot (the DTB is inaccessible at boot) or does it still get to `arch_init`?

[2015-12-28 10:57] pkm2kor commented on #419
It crashes on ldr also.

[2015-12-29 16:00] amirmc opened #422 "Race condition in Travis deploy scripts?"
I *think* there's a race condition in the deploy scripts that push to `mirage-www-deployment`.  We currently build and deploy two unikernels and Travis does these in parallel. I just saw the following build failure for the `mirage.io` Xen build (in build number `#1001` — I restarted it so the full log might be lost now).  I did notice that the deployment repo had a new successful push for one of t

[2015-12-29 16:37] samoht commented on #422
Indeed, see #408

[2015-12-29 22:27] amirmc commented on #422
Aha, thanks. Closing this as a dupe.

[2015-12-29 22:27] #422 closed

[2016-01-04 19:34] amirmc opened #425 "Blog post on Solo5/MirageOS"
See recent thread on the mailing list.

http://lists.xenproject.org/archives/html/mirageos-devel/2016-01/msg00007.html

[2016-01-04 19:38] amirmc commented on #425
@djwillia did the work and the repo is at https://github.com/djwillia/solo5/tree/mirage.
An intro post would reach a wider audience and generate more feedback :)

[2016-01-05 12:46] whirm opened #426 "block_test.xl is generated with the wrong image file name"
It's using xvda1 instead of the disk.img generated by the shell script.

That's in current `mirage-skeleton/master`.

[2016-01-05 12:47] whirm opened #427 "The hello-world tutorial recommends an older version of Ocaml"
It seems to be working fine with 4.02.3.

[2016-01-06 20:59] djwillia commented on #425
Not sure if I did the pull request thing correctly.... Let me know if you have comments on the post!  Thanks!

[2016-01-07 18:09] #425 closed

[2016-02-13 18:11] mor1 opened #432 "Information architecture of site"
Following discussion of @dbuenzli feedback:

+ Rather than recommend building `mirage-www` as part of tutorial, perhaps building a personal site would be more engaging?

+ We should not hide how to report issues under "Contributing" but provide an explicit "Troubleshooting" page that describes the common pitfalls, how to solve them and then provides guidelines on how/where to report an issue would

[2016-02-13 19:40] dbuenzli commented on #432
An http hello world over raw tcp/ip (no cohttp) should come first I think. Then I would branch this into diverse things, e.g. going down to simplified (if too complex) mindyesque networking demos or up to make a toy webservice or serve an http page using a higher-level http library. The idea here is that the examples should reveal the structure and different layers of interaction with the mirage.

[2016-02-16 10:10] yomimono commented on #427
Fixed via #433.  Thanks for the issue!

[2016-02-16 10:10] #427 closed

[2016-02-27 00:51] samoht commented on #404
Closing as #476 is fixed

[2016-02-27 00:51] #404 closed

[2016-02-29 13:14] Drup opened #436 "mirage-www doesn't set the proper content header for svg files"
Apparently, `svg` files are not given the proper content header, which causes issues under safari. I guess magic-mime would solve the issue.

[2016-02-29 14:28] mor1 commented on #436
Chromium also -- it seems that they render when I click on them, but when rendered inline they break.

[2016-02-29 14:38] amirmc commented on #436
Same on iOS (Safari and Chrome).

Seems to work fine in Firefox (on OS X).

[2016-02-29 15:02] samoht commented on #436
This needs a patch to cowabloga, I'm working on it

[2016-02-29 15:30] Drup commented on #436
Thanks!

[2016-02-29 19:40] samoht commented on #436
TravisCI is sooo long today. Should be fixed when https://travis-ci.org/mirage/mirage-www/builds/112602442 is complete

[2016-02-29 20:33] amirmc commented on #436
It looks like that build failed. See https://travis-ci.org/mirage/mirage-www/jobs/112602446

[code]

[2016-03-01 00:02] samoht commented on #436
https://github.com/mirage/mirage-www/pull/437

[2016-03-01 08:59] #436 closed

[2016-03-01 08:59] samoht commented on #436
Fixed. https://mirage.io/blog/introducing-functoria now displays pretty images

[2016-03-01 09:01] amirmc commented on #436
Yay! \o/

[2016-03-02 12:41] hannesm commented on #432
Related to this is the thread on [mirageos-devel in September 2015](http://lists.xenproject.org/archives/html/mirageos-devel/2015-07/msg00076.html) about "Dispatching boilerplate and the tutorial"

[2016-03-15 16:04] mmaker opened #440 "Dead link on wiki/xen-boot."
At https://mirage.io/wiki/xen-boot I read
"There is a script in scripts/xcp.sh that takes a kernel.xen output from MirageOS and makes the appropriate API and SSH calls. Thanks to Mike McClurg from Citrix for contributing this script."

But `https://github.com/avsm/mirage/tree/master/scripts/xcp.sh` is a dead link.

[2016-03-16 08:51] samoht commented on #363
@djs55 ping? :-) also would be great to release the stats as a separate library, this can be used by other websites such as [canopy](http://canopy.mirage.io/) /cc @Engil (see https://mirage.io/stats/gc and https://github.com/mirage/mirage-www/tree/master/stats)

[2016-04-06 16:49] mattgray commented on #432
That's what I tried to do with the "Intro to Mirage" session I did at Devwinter in Cambridge in January. Started with writing HTML using raw tcp/ip, and then introducing cohttp, KV_RO and randomness, to illustrate the idea that Mirage is a library OS. Example code for that is at https://github.com/mattgray/devwinter2016/tree/master/cat_server

[2016-04-07 11:36] mor1 commented on #432
Hi @mattgray -- noticed this and thought I'd have a stab at Functoriaising it -- PR in https://github.com/mattgray/devwinter2016/pull/2 in case it's any use

[2016-04-07 11:45] mattgray commented on #432
superb, looks great @mor1 ! I'll have a closer look when i'm done at work :)

[2016-04-11 17:38] reynir opened #442 "'Frequently asked questions' is outdated"
Particularly the section `Q: Is MirageOS 1.0 'production ready'` stands out. 2.0 is out, TLS is implemented, and 2014 isn't in the future anymore.

I'm afraid I haven't kept up with the project to update it myself.

https://mirage.io/wiki/faq

[2016-05-03 22:51] samoht opened #448 "Deployment issue of 04/05/2016"
Just to remember the issues I've hit and need to be fixed:
- [ ] https://github.com/mirage/mirage/issues/517
- [ ] https://github.com/mirage/mirage-net-xen/issues/39
- [x] https://github.com/mirage/mirage-www/issues/408
- [ ] @jonludlam I had to destroy your `jon` VM as it was using the IP address reserved for `mirage.io`. Please update its configuration.

[2016-05-04 04:13] hannesm commented on #448
you also hit https://github.com/mirage/mirage/issues/517 (and needed to pass `--network 0` to `mirage configure`...

[2016-05-04 08:00] samoht commented on #448
isn't it already in the list? :p

[2016-05-04 08:02] hannesm commented on #448
ups, i shouldn't type while sleeping... 4 hours ago...

[2016-05-04 08:02] samoht commented on #448
the workaround I've put in place:
- [pin mirage-net-xen to 1.4.2](https://github.com/mirage/mirage-www/commit/002e036ce6da4a85283f43b8f90e3f9c7c4d548e)
- [add a --network command-line argument](https://github.com/mirage/mirage-www/commit/c60320e282d700a98abfb37a26d7b8ae09f1f08a)
- restarted the failed TravisCI job
- `xl destroy jon` on the deployment machine (sorry @jonludlam you might have to res

[2016-05-04 08:13] hannesm commented on #448
...and again a travis race after your most recent merge...

[2016-05-04 08:16] samoht commented on #448
Build restarted...

[2016-05-04 08:18] samoht commented on #408
Maybe just adding the right `git rebase` runes just before [pushing](https://github.com/ocaml/ocaml-ci-scripts/blob/master/travis_mirage.ml#L104) is enough. /cc @mor1

[2016-05-05 08:57] yomimono opened #451 "mirage.io's TLS certificate is expired"
[code]

Paging @avsm , who I think mentioned getting a Let's Encrypt cert instead of renewing with our previous CA.

[2016-05-05 13:25] yomimono commented on #451
Resolved by @avsm (thanks!) . Details at http://lists.xenproject.org/archives/html/mirageos-devel/2016-05/threads.html under "Expiration of the certificate SSL Standard (mirage.io)".

[2016-05-05 13:25] #451 closed

[2016-05-05 13:30] hannesm commented on #451
details online on canopy: http://canopy.mirage.io/Wiki/Letsencrypt :+1: (using the DNS challenge)

[2016-05-05 13:31] avsm commented on #451
added a pioneer project for good measure; I love Letsencrypt! https://github.com/mirage/mirage-www/wiki/Pioneer-Projects#letsencrypt-compliant-dns-server

[2016-05-08 13:32] yomimono commented on #442
#455 is an attempt to make the FAQ less outdated -- thanks for filing this issue to get more eyes on it.  If you have any suggestions for more stuff to put in there, I'd be happy to include them as well!

[2016-05-18 09:28] hannesm opened #456 "dead link in functoria blogpost"
https://mirage.io/blog/introducing-functoria says

The complete example is available in mirage-skeleton in the `app_info` directory.

@Drup I can't find the app_info stuff... care to put it into the mirage-skeleton repository please? :)

[2016-05-18 13:18] Drup commented on #456
I'm absolutely sure that I wrote it, but I can't find it anymore. I'll rewrite it quickly, do you want a webpage version of a console-only version ?

[2016-05-18 13:22] yomimono commented on #442
Closed via #455 . Thanks again!

[2016-05-18 13:22] #442 closed

[2016-05-18 14:03] hannesm commented on #456
if you ask, both :)

[2016-05-20 22:04] mor1 commented on #408
That sounds very plausible -- at least it should dramatically reduce the window of opportunity for the conflict to occur.

[2016-05-20 22:10] mor1 commented on #408
Attempted fix in PR https://github.com/ocaml/ocaml-ci-scripts/pull/111

[2016-05-20 22:20] mor1 commented on #408
In discussion with @avsm the thought also occurs that we could
+ remove the redirect logic from here altogether,
+ build only the `mirage.io` version, and
+ run a separate (containerised?) instance of https://github.com/mor1/http2https (eg., https://hub.docker.com/r/mor1/mir-http2https/ after a suitably parameterised rebuild)

Thoughts?

[2016-05-20 22:24] samoht commented on #408
That seems like a good idea. I guess we don't really want to change the redirector too often anyway.

[2016-05-24 16:36] talex5 commented on #383
Hopefully fixed by #458.

[2016-05-24 16:36] #383 closed

[2016-05-24 16:45] talex5 commented on #371
Could we put a date on it (for when it was written) and mark it as a blog post instead of a wiki page? It may have some historical interest, but it's not current documentation. We could do to the same to https://mirage.io/wiki/delimcc-vs-lwt too.

[2016-05-24 16:53] yomimono commented on #371
I'm fine with killing both of these articles; datestamping them and moving them to the blog would be okay too.  (I get the feeling that the delimcc-vs-lwt article is of more potential historical interest and might benefit from this.)

Perhaps we should do that and open a new issue asking for an article or post about determining whether a library will be easy to use with Mirage.

[2016-05-24 16:58] samoht commented on #408
Closing this as I merged the small hack to make the race condition smaller. Having a proper redirector is a longer term plan, please track that in a separate issue.

[2016-05-24 16:58] #408 closed

[2016-05-24 16:58] samoht commented on #448
@jonludlam ?

[2016-05-24 17:25] avsm commented on #371
Moving them to a blog post would be best; they do have historical use.

[2016-05-24 18:58] yomimono opened #460 "will my project build with mirage?"
This isn't in the [faq](https://mirage.io/wiki/faq), but it's a reasonably frequently asked question.  The answer probably deserves its own blog entry or article.  Were I to write it, I'd probably make a flowchart with something like:

* Does your project make extensive use of the `Unix` module?
* Does your project depend on filesystem storage?
* If yes to either of the above, try factoring that a

[2016-05-24 19:35] amirmc commented on #460
I think that would be a great set of things to write up up!

The first three points are important and because of dependencies, it may not always be clear to people how to figure out where the Unix deps are (without trial and error), or what libs they should use to avoid introducing such deps.

[2016-05-24 21:32] dbuenzli commented on #460
Le mardi, 24 mai 2016 à 22:08, Amir Chaudhry a écrit :

Well instead of trial and error there a thing called `opam list --required-by PKG —rec` which can already give a good guess; there may be false positives though (it includes build deps).

Daniel

[2016-05-25 08:39] mor1 opened #462 "Redirection and races"
We should avoid the race that was just hacked around in ocaml/ocaml-ci-scripts#111 by having a proper redirector that means we don't try to rebuild and deploy two independent copies of the site simultaneously.

/cc @samoht

[2016-07-13 15:49] yomimono opened #466 "documentation should refer to -t unix, -t xen rather than --unix, --xen"
See hello-world.md for an example where this needs to be changed.

[2016-07-13 21:22] GemmaG opened #467 "mirage-www install instructions out of date"
- [x]  min is ocaml 4.02.3 not 4.02.1
https://lists.xenproject.org/archives/html/mirageos-devel/2016-07/msg00013.html

## Install

### Requirements

* "MirageOS has been tested on ArchLinux, Debian Wheezy, Ubuntu Precise/Lucid/Raring/Saucy, CentOS 6.4 and MacOS X 10.8 and 10.9. To compile the Xen backend, you must have a 64-bit Linux host. 32-bit is not supported at this time."

- [x] Is this out

[2016-07-13 21:27] avsm commented on #467
partially fixed, need to address how to install opam 1.2.2 on debian stable (no packages available??) and also bring back CentOS 7...

[2016-07-13 21:31] GemmaG opened #469 "Syntax highlighting is broken"
https://mirage.io/wiki/hello-world

Syntax highlighting in console code appears to be broken

[2016-07-13 21:41] GemmaG opened #470 "Contents and right-hand sidebar on mirage tutorial pages"
Could we have an easier layout for parsing/quickly seeing relevant information on each tutorial

- [ ] Contents/list of headings for each tutorial
- [ ] Sidebar on the right for important information e.g. the details in the blue boxes with the large "i" here: https://mirage.io/wiki/hello-world

Does Zurb Foundation have a sidebar for this?

[2016-07-14 08:22] talex5 commented on #467
opam 1.2.2 installs fine on Debian/stable for me:

[code]

[2016-07-14 15:11] avsm commented on #467
perfect, thanks @talex5! I'll recommend the use of 0install rather than a longwinded backport approach then.

[2016-07-14 16:03] #467 closed

[2016-07-19 12:07] yomimono opened #473 "affiliations for core team members are out of date"
See https://mirage.io/community/#team .  The source for this page is `tmpl/about.md`.

[2016-07-19 12:40] yomimono opened #474 "CI builds are hanging on user input"
Tail of an attempt to build `mirage-www` in CI (full log [here](https://travis-ci.org/mirage/mirage-www/jobs/145804060):

[code]

[2016-07-19 12:47] samoht commented on #474
it's an issue with `opam-depext 1.0`, @avsm is aware of it and he will hopefully release a fix soon :-)

[2016-07-19 12:47] yomimono commented on #474
Cool, thanks :)

[2016-07-19 16:19] amirmc opened #476 "Replace uses of '--unix' and '--xen'"
Instances of `--unix` and `--xen` should be replaced with `-t unix` and `-t xen` respectively. Related to #475.

Some obvious pages I found (there may be others):
- https://mirage.io/wiki/hello-world
- https://mirage.io/wiki/mirage-www

[2016-07-19 16:35] yomimono commented on #476
See #477.  There are others, but I thought it best to leave them as is, since they're historical artifacts:

[code]

[2016-07-19 16:48] amirmc commented on #476
Yup, I agree. Thank you :)

[2016-07-19 17:02] amirmc commented on #476
There are also references in `mirage-skeleton` that should be updated.  I'll submit a PR there too (unless that's already been done).

[code]

[2016-07-20 12:23] yomimono commented on #474
`opam-depext 1.0.1` is out, so I've restarted these tests.

[2016-07-20 13:17] #474 closed

[2016-07-21 14:11] yomimono opened #482 "good instructions for using the tap device under linux"
Rather embarrassingly, I've been working with Mirage for ~2 years now under Linux, largely on the networking stack, and I have no idea how to make tap devices work nicely for `--net=direct --target=unix`.

[2016-07-22 11:32] hannesm commented on #473
this was fixed in #480

[2016-07-22 11:32] #473 closed

[2016-07-22 11:34] hannesm commented on #466
duplicate of #476, solved once #477 is merged.  since #476 contains some discussion, closing this issue.

[2016-07-22 11:34] #466 closed

[2016-07-22 11:35] hannesm commented on #415
I assume this can be closed (due to being out of date, and publishing a year-in-review in the middle of the year is not worth it).  Certainly there should be somewhere a 3.0-release post... but not in this issue

[2016-07-22 11:35] #415 closed

[2016-07-22 12:59] yomimono commented on #456
@drup - could you give us something to go on for recreating this?

[2016-07-22 13:23] yomimono commented on #309
Guessing there was intended to be a links page at some point, but the age of this issue suggests that we might be bad at keeping it up to date and removing dead links.  What do you think, @amirmc ?

[2016-07-22 13:25] yomimono commented on #440
Very belated thanks for the issue submission.  The `xen-boot` page generally needs some attention -- I think @acw has a much nicer deployment story for unikernels on EC2 (although I'm not sure where it lives), and we're probably safe to remove the instructions that reference Xen 4.1 (!).

[2016-07-22 13:26] #371 closed

[2016-07-22 13:26] #183 closed

[2016-07-22 13:29] amirmc commented on #309
@yomimono there's a page at https://mirage.io/links which isn't easily reached from the main site (if at all).  We've not been very good at keeping this up to date as it's labour intensive for what it is.

An automated way of adding would stand a better chance. That might be a nice Pioneer Project.

[2016-07-22 14:29] Drup commented on #456
dammit, I forgot! It's here: https://github.com/mirage/mirage-skeleton/pull/167

[2016-07-22 14:35] yomimono commented on #456
Looks good to me; now the user has something to play with! :)

[2016-07-22 17:42] acw commented on #440
It lives here: https://github.com/GaloisInc/ec2-unikernel

Bug reports, feature requests, etc., etc. are very much appreciated.

[2016-07-22 17:48] yomimono commented on #440
Awesome, thank you!!

On July 22, 2016 6:42:31 PM GMT+01:00, Adam Wick <notifications@github.com> wrote:

--
Composed on a touchscreen keyboard; please forgive typos and brevity.

[2016-09-02 06:31] jmitchell opened #488 "High latency (~1 min): known issue?"
On multiple occasions pages at https://mirago.io took as long as 30 to 90 seconds to load. According to a trace in Wireshark there were 143/518 (27.6%) packets dropped while loading one page.

Are there known issues in Mirage or this application that would explain it? Are there server-side analytics that could help? I realize there are a lot of potential explanations, and many are outside Mirage's

[2016-09-02 08:28] avsm commented on #488
The variability of the latency is often less than a minute, but i have observed this too. I have not got a packet trace though ...

[2016-09-02 08:48] mato commented on #488
@jmitchell Could you upload a copy of the problematic packet trace somewhere?

[2016-09-02 17:53] jmitchell commented on #488
Here's a screenshot of [this page](https://mirage.io/wiki/weekly-2016-07-27) loaded in Chrome with the network traffic and timing logged. I intentionally disabled the cache.

![mirage-nocache](https://cloud.githubusercontent.com/assets/77286/18212557/b78baeb2-70f8-11e6-8767-44b9ad8d5ed0.png)

I have the corresponding pcap, but would prefer not making it public unless/until I work out how to scrub

[2016-09-02 18:11] jmitchell commented on #488
You can find the CSV export of the pcap [here](https://gist.github.com/jmitchell/e16564363e8ca48fc80224d9d11f5eed). Notice there are a lot of TCP retransmissions.

[2016-09-04 14:19] yomimono commented on #488
Thanks for the detailed report! We've done a lot of work on tcpip that is currently on trunk but not yet released, which means that https://mirage.io is not running it. I'll check whether this behavior persists with the latest tcpip checkout today.

[2016-09-04 16:48] jmitchell commented on #488
Thanks for investigating @yomimono.

[2016-09-09 13:25] avsm commented on #488
mirage/mirage-tcpip#239 will definitely help with this due to being on the recovery path, but still need to find source of packet loss

[2016-09-09 14:36] GemmaG opened #491 "List of Mirage libraries linked from mirage.io homepage"
Add an up-to-date list of Mirage libraries to mirage.io. Ideally a tab at the top of the homepage that takes you to a curated list of libraries sectioned by type eg. use the tags on Canopy http://canopy.mirage.io/Projects (protocol, security) or similar.

Links with this: https://github.com/mirage/mirage/issues/569

[2016-09-09 14:39] avsm commented on #491
Working on this via the TROVE file for mirage 3 (mirage/mirage#571) -- see also mirage/mirage#569

[2016-09-09 14:41] amirmc commented on #491
Would be much better if we could start using the opam metadata for this (e.g. the tag `org:mirage`).  We’ve discussed this a few times before but not really taken it much further.

[2016-09-12 16:54] yomimono opened #492 "items in /wiki should have last-updated timestamps displayed"
It would be nice to know how old a post is when viewing it in the browser.

[2016-09-15 15:51] yomimono commented on #488
https://mirage.io has been rebuilt with `tcpip` version 2.8.1, which includes #239 .  I wasn't able to reproduce with the new version -- @jmitchell , can you let us know one way or the other?

[2016-09-15 16:28] jmitchell commented on #488
Load times are significantly better now, but may need more attention. Most pages are loading within 5 seconds without local browser caching. The [blog](https://mirage.io/blog/) is an outlier in my ad-hoc sample, frequently taking ~10 seconds to load sans cache.

Do you have a sense for the server's bottleneck now? Are response-time logs available?

[2016-09-15 17:13] avsm commented on #491
Not linked from the homepage yet, but we have docs.mirage.io which is rebuilding documentation for packages. Will link it when its tested a little more.

[2016-09-27 15:00] hannesm commented on #456
thanks for fixing this

[2016-09-27 15:00] #456 closed

[2016-09-29 10:15] #374 closed

[2016-09-29 10:16] hannesm commented on #239
thanks for the report.  is-mirage-broken was outdated, and subsequently removed.

[2016-09-29 10:16] #239 closed

[2016-11-14 10:03] hannesm commented on #460
to add some notes:
- there is an opam package `base-unix`, I suspect this dependency is not explicit in all packages
- since 3.0.0 there will be in addition no `Str` module provided by the MirageOS OCaml runtime
- there has not been any sign of `systhreads` in MirageOS OCaml runtime
- `num` is also not present (but we have gmp + zarith ports)

The behaviour of mirage on unix (`mirage configure -t

[2016-11-15 14:34] GemmaG opened #498 "Add fortnightly catchup details on mirage.io homepage/sidebar"
Can we add details of the fortnightly call here so that people can see it easily if they miss the email/aren't on the mailing list?

Details:

Date: Every fortnight on Wednesday (next one 16th November - not sure if we should add each date, or just a reference point)
Time: 4pm GMT (if people have a preference for timezone format, please suggest)
Channel: #mirage on Freenode https://webchat.freenod

[2016-11-15 14:45] amirmc commented on #498
The calls are currently mentioned at https://mirage.io/docs/#Weeklycallsandreleasenotes (that section is now slightly out of date).  It would also make sense to mention it on the [community page](https://mirage.io/community/).

I think a couple of mentions of the fact we do regular calls is probably enough, along with clear links to the Agenda/Logs where the rest of the info can live (dates, metho

[2016-11-17 16:29] mor1 commented on #330
In an idle moment, searching for issues referencing me in and found this one :)
Is it resolved? The deployment workflow is actually working correctly at the moment I think...

[2016-11-17 16:30] #476 closed

[2016-11-18 12:47] byteshiva opened #501 "can not load mirage image"
I' getting cannont load mirage image. Can you let me know if i'm missing something here.. I have followed the installation instruction(using ubunt 14.10)

![image](https://cloud.githubusercontent.com/assets/10637299/20430567/0ee7fcca-adbb-11e6-8672-f89694fa1ace.png)

[2016-11-18 14:34] yomimono commented on #501
It looks like you're running the Ubuntu-provided [mirage](http://packages.ubuntu.com/search?keywords=mirage) tool, which is an image viewer.  `apt-get remove mirage` to get rid of this tool (if you do use it, I can send you instructions on changing your `PATH` environment variable to make sure that the other `mirage` comes first, but that's a bit more involved).

Can you point us at the instructio

[2016-11-20 19:10] #501 closed

[2016-12-05 02:59] #469 closed

[2017-01-14 19:04] amirmc opened #511 "Blog post about improved/consistent dev workflow"
It'd be _really_ useful if someone were able to write a brief blog post in the next couple of weeks about the improvements to the dev workflow.  e.g. about things like `topkg`, `odig`, and how consistency helps with the build/package/release cycle — and also how we can use automated tooling for mass changes. It doesn't have to be long. Just enough to demonstrate that things are better :)

Having s

[2017-01-18 11:45] GemmaG opened #512 "IRC call suggestions"
Based on the feedback: http://reynard.io/2017/01/18/MirageIRCFeedback.html here's a list of suggestions for discussion:

* Post the [agenda](https://github.com/mirage/mirage-www/wiki/Call-Agenda) online (wiki and mirage.io?)
  - Can we reliably get the agenda up/started 2-3 days prior to call? Friday before/Monday before?
  - I will tweet from @openmirage when the agenda goes up, and on the day of

[2017-01-18 11:53] avsm commented on #512
Many thanks for this @GemmaG! I am also working with @engil to fix the IRC Logs page and Canopy, as @hannesm has made improvements to Canopy master that are not live deployed yet.

[2017-01-18 15:06] GemmaG commented on #511
Might be good to have separate posts for each of the following (with more detail) and another more general post linking them all together with the focus on workflow improvements tying them all together that we can post on mirage.io

- build/package:  topkg and odig
- release process: opam 2.0 additions
- documentation: odoc
- testing: CI improvements
- logging and error improvements

[2017-01-18 15:11] avsm commented on #511
agreed with list: would move opam2 and testing down to the bottom and prioritise the developer facing ones: build, docs and logging in the very short term.

[2017-01-18 16:54] avsm commented on #512
For volunteers interested in the IRC log summaries, you just need to grab one from https://github.com/mirage/canopy-data and send a PR with your changes. No format for the summaries has been agreed so its up to you how you present it :)

[2017-01-18 17:03] amirmc commented on #511
This sounds great but I was hoping for a post that could be up and public sometime in the next two weeks. Is that the general one you’re referring to @GemmaG?  If so, that would be ideal.  I’m imagining an intro post that has short summaries and subsequent posts with details. That would mean I can still link to the first (general) one, without having to wait for the whole set.

Let me know if you

[2017-01-18 20:03] yomimono commented on #512
To add more structure to the agenda, we'll need to impose a cutoff time for submissions to the agenda -- for example, today roughly half of the agenda items were submitted within 10 minutes of when the call began, which is really not enough time for anyone to read (let alone write) detailed background materials.

[2017-01-18 20:04] yomimono commented on #512
I have a standing appointment on every other Monday afternoon to send the reminder e-mail to mirageos-devel (which I missed by a day this week!).  I'll move it to the Friday before as suggested above.

[2017-01-19 09:45] avsm commented on #512
There is now a refreshed canopy.mirage.io with the latest IRC logs. I am working on renovating the website today to make contributions to it easier.

[2017-02-18 06:24] GemmaG opened #513 "Tracking suggestions for articles to accompany Mirage 3 release"
@amirmc has suggested the **23rd Feb** for the Mirage press release and announcement (based on #592) which is next Thursday.

Not all of these need to be ready for 23rd - and they don't need to be long posts -  but it would be good to know which ones could be finished before then and linked to from the announcement post. Please do add suggestions and edits.

From the OCL side, we are working on so

[2017-02-20 15:57] hannesm commented on #513
- some unikernel statistics between 2.9.1 and 3.0.0 (diff between generated `main.ml` for unix and xen, diffs of `config.ml` and `unikernel.ml`) at http://www.cl.cam.ac.uk/~hm519/mirage-2.9.1-3.0.0-diffs/
- https://gist.github.com/hannesm/d0601b7d48d527068c354bc9e1daba3f (which can be improved (suggestions welcome), integrated into @yomimono announcement, or posted at some point on its own) :) --

[2017-02-20 17:05] mor1 commented on #513
I can write / link to something very short about ARM (though there's not much that's Mirage-specific I think). But no chance before tomorrow evening, and Wednesday afternoon more likely.

@hannesm I think that post would make a great post (or two!) on its own, to be referred to by @yomimono announcement :) Part of the thought here was to try to replicate what we did for Mirage 2 in terms of having

[2017-02-20 17:11] yomimono commented on #513
@hannesm, I really like this piece!  It should definitely be its own post which gets linked from the high-level outline.  We could split it in two, but I think it's at a good granularity as-is.

@samoht, do you have time/interest in writing something on errors over the next couple of days?  talex5 already declined in another medium.  I think I'm probably next-best to do it after samoht, and also a

[2017-02-20 17:13] amirmc commented on #513
I don't think there's enough time to do the necessary review and edits to get these posts up _before_ the release (as we did for MirageOS 2.0, which was an [epic effort](https://github.com/mirage/mirage/issues/257)), but it would be great to get these suggestions into an an order/schedule to continue the activity into the following week.  That would work really well!

[2017-02-20 17:16] mort commented on #513
Hi, guys.

If you could put a bit of care on not mentioning me (@mort) by mistake, that would be awesome. Remember it's @mor1 who you want ;)

Cheers!

[2017-02-20 17:45] amirmc commented on #513
Manuel, really sorry about this!  I'm sure you already know this but I think you'll have to manually unsubscribe yourself from this thread to avoid ongoing notifications.
I can't see a way to remove you :-/

[2017-02-20 17:47] yomimono commented on #513
@amirmc I think Manuel's just asking us to be a bit more careful in the future, not to take any action now.

@GemmaG I just realized that missing from the list of things to write from the Mirage side is a porting guide for Mirage 2 -> Mirage 3; I'm listed (with a ? that should be a ! by now) as responsible for that over at https://github.com/mirage/mirage/issues/592 .

[2017-02-20 17:48] amirmc commented on #513
What I meant by the comment above is that I think we should have a sequence of posts, no more than one per day (ideally one every couple of days), that starts with the release blog post.  I hope that makes sense.

[2017-02-20 18:06] samoht commented on #513
@yomimono I will write a short port tomorrow about errors. I also really would like to get some kind of Irmin pre-release ready for the 23rd :-)

[2017-02-20 20:50] yomimono commented on #513
@samoht great, thank you! feel free to leave TODOs for me in the post if that would be helpful.

[2017-02-21 00:24] yomimono commented on #513
@hannesm A commit with annoying English nitpicks is at https://gist.github.com/yomimono/ff58bcc483ba5fe0aab323e6ea24a492 .

[2017-02-21 09:08] hannesm commented on #513
@yomimono thanks!  mirage itself contains `available: [ocaml-version >= "4.02.3"]` (while functoria contains `>= "4.03"` - but I don't remember which bits actually require `4.03`).

[2017-02-22 11:13] samoht commented on #513
The error handling post is there: https://github.com/mirage/mirage-www/pull/514 Anyone can push to it, so please feel free to edit.

[2017-02-22 11:37] GemmaG commented on #513
@hannesm thanks for the great post on removing code - I agree that mentioning it in the announcement but leaving as is works well :)
@samoht thanks for the error post! An Irmin post would be brilliant!
@yomimono I've added the porting guide to the list - thanks!

[2017-02-22 11:57] amirmc commented on #513
Hi folks, this issue and the tracking issue (https://github.com/mirage/mirage/issues/592) were getting confusing.

This issue (https://github.com/mirage/mirage-www/issues/513) should track the supporting content that will go out after the main announcements.  I've updated the top post and added some items so that they're tracked here instead.

TL;DR. If it's *required* for the announcement, it sho

[2017-02-22 13:27] dbuenzli commented on #513
Please make sure to fix the certificate error before, 98% of potential readers won't bother going through the painful process of circumventing it.

I wrote something here:

https://gist.github.com/dbuenzli/fb2ac8583c9b0ff1637ee3117195cda5

Comments welcome.

[2017-02-22 23:03] amirmc opened #517 "Cannot build 'mirage-dev' website with 'mirageos-3-beta remote'."
I just tried to build the `mirage-dev` branch of the site, following the instructions in the relevant markdown file from that branch.  I got the following:

[code]

Some additional info:
[code]

Am I doing something wrong?

[2017-02-22 23:14] avsm commented on #517
You need to run `make depend` before the  `make` to install the various dependencies.

[2017-02-22 23:16] yomimono commented on #517
@amir: which markdown file were you reading?  Let's make that either there, or more prominent if it's there already.

[2017-02-22 23:17] amirmc commented on #517
Thanks! I'll submit a patch to that file.

[2017-02-22 23:18] #517 closed

[2017-02-22 23:31] amirmc opened #519 "Cannot run website after build with mirage3 remote"
With the mirage3 beta remote, on the `mirage-dev` branch of this repo.

The following works (after #518)
[code]

The instructions then state you should `sudo ./mir-www`, except there is no file called `mir-www` present. Instead, it's called `www`.  Even so, the following occurs:

[code]

[2017-02-23 00:03] yomimono commented on #519
Thanks @amirmc, I'll look at this shortly (although anyone else awake is welcome to beat me to the punch).

[2017-02-23 01:53] yomimono commented on #440
A scant 11 months after the initial report, this is fixed in e7962065edf7543d6d69e1bba9f20955c923cc81 .

[2017-02-23 01:53] #440 closed

[2017-02-23 08:18] samoht commented on #517
@yomimono could the tool prints it directly maybe? e.g. `mirage configure` could maybe say something like:

[code]

Likewise, the Makefile can say a similar thing is the `build` target is failing.

[2017-02-23 13:46] GemmaG commented on #513
@dbuenzli thanks! Do you have a title in mind? We've got [ocamllabs.io](http://ocamllabs.io/) up and running now, so I'll add it as a post there with you as the author.

Thoughts on linking to it directly from the main announcement post?

[2017-02-23 13:58] amirmc commented on #513
Just read that post and it made me laugh. But then I know some of the left-pad references :)
If there's a summary to link to, maybe that can be referenced in a foot note.  e.g. something like https://www.reddit.com/r/learnprogramming/comments/4bo951/eli5_this_whole_fiasco_with_javascript_node_and/

[2017-02-23 16:38] GemmaG commented on #513
@dbuenzli I've added your post here: http://ocamllabs.io/projects/2017/02/23/topkg.html with a working title that we can alter to your preference. I wanted to post it now so that we can link to it from the main announcement - thanks!

[2017-02-23 19:26] #519 closed

[2017-02-23 19:28] amirmc opened #531 "Fix/update scripts for build and deploy of the website"
There have been some changes to the artefacts produced via build steps, which mean various scripts need to be updated.

Mindy said:

This will also involve changes to the scripts in https://github.com/mirage/mirage-www-deployment

[2017-02-23 20:07] avsm commented on #531
fixed this locally on the deployment machine, and via https://github.com/ocaml/ocaml-ci-scripts/pull/156

will open a PR for mirage-www-deployment after testing a bit more

[2017-02-24 10:15] dbuenzli commented on #513
Thanks @GemmaG. Could please integrate the latest revision of the gist, I integrated some comments @pqwy made to me. Other than that:

1. I think the title you added is good.
2. It seems you turned an opam into OPAM. opam recently became uncapitalized.
3. the (1) in `topkg-bistro(1)` was not a footnote it was a `man` section. I turned it in a tool invocation, could you please remove the footnote.

[2017-02-24 10:19] dbuenzli commented on #513
Ah and regarding the left-pad allusion I don't mind people not getting it. Those who don't and are curious enough can search about it. In general I avoid hyperlinking away in blog posts, as these links are only opportunities to distract and loose your reader.

[2017-02-24 10:27] dbuenzli commented on #513
Also @GemmaG could you please remove the "has a Master of Science in Computer Science from the École Polytechnique Fédérale de Lausanne (EPFL) and" from the short bio on the blog, I don't think it's really interesting in that context. The sentence that will result be enough. Thanks.

[2017-02-24 14:12] yomimono commented on #513
I can commit to a blog post on the Qubes target for Tuesday 28.

[2017-02-24 14:12] amirmc commented on #513
I've added a section at the end of the top post where we can build a schedule.  So far, the only content we have is the 'topkg' post and the 'smaller is better' post.

Is anyone else working on content?  @GemmaG, are you handling the scheduling?

[2017-02-24 14:15] amirmc commented on #513
@yomimono Thanks!  I've added it to the schedule but for Weds 1st.  We should leave a day between posts just so it's not overwhelming.  One of the items of (anecdotal) feedback for the 2.0 blog posts was that the frequency of posts was too high to keep up with :)

[2017-02-24 14:51] dbuenzli commented on #513
My comments in https://github.com/mirage/mirage-www/issues/513#issuecomment-282255437 are implemented in PR https://github.com/ocamllabs/ocamllabs-www/pull/5 I'll let someone with the rights to merge it.

[2017-02-24 16:13] GemmaG commented on #513
@amirmc re schedule, odoc post will be coming in next few weeks (dependent on final work on odoc before release - no specific date yet), I'll look into when an opam beta post could be ready

[2017-02-24 17:41] yomimono commented on #379
If we still need to do maintenance on punk, let's open a new and more specific issue with a plan of action that makes sense in the current universe.

[2017-02-24 17:41] #379 closed

[2017-02-24 17:42] yomimono commented on #357
I just noticed this happening when looking at the stats yesterday, so it's still an issue.

[2017-02-24 17:44] yomimono commented on #316
These are still good ideas, especially now that we have even more backends!  This might be a good project for the hack retreat - @avsm, do we have resources available for that?

[2017-02-24 17:44] yomimono commented on #197
I don't think this is relevant any longer.  Please feel free to reopen and comment if you disagree.

[2017-02-24 17:44] #197 closed

[2017-02-24 17:52] yomimono commented on #511
Closing this out as we're tracking blog posts elsewhere.

[2017-02-24 17:52] #511 closed

[2017-02-27 12:15] samoht commented on #513
I am writing a post for Irmin 1.0. Can do it for Friday 3rd if no one else is taking that slot.

[2017-02-28 18:51] yomimono commented on #531
@avsm, can you confirm that these are working?  It looked like there was a bit of downtime with the last merge, but I think it's fine as long as it didn't boot due to manual intervention.

[2017-02-28 18:52] yomimono commented on #513
I'd appreciate any comments folks have time to leave on #534, which was originally going to be a personal blog post and so might be a bit chatty for the Mirage blog (and also is probably boring?  Please tell me if you have ideas on how to make it less boring).

[2017-02-28 20:09] mor1 commented on #513
LGTM!

I think the style is just fine myself.

The only part where I stumbled was when/how Functoria suddenly appears --
eg., the relationship between Functoria and Mirage when it comes to the
`base_configurable` object and so on. It might also be useful to include a
pointer somewhere to how object syntax works perhaps? It seems to be little
used so even OCaml programmers might want easy to access

[2017-03-01 13:17] samoht commented on #513
See https://github.com/mirage/mirage-www/pull/535 which is definitely not fully ready yet, but which contains a skeleton of what I wanted to write. Early feedback to that early draft is welcome.

[2017-03-01 14:32] yomimono commented on #513
@samoht - I forked and added some comments at https://github.com/yomimono/mirage-www/tree/irmin - please feel free to pull or ignore or whatever.

[2017-03-01 15:48] amirmc commented on #531
Another blog post is merged and building but the scripts in the deploy repo haven't been updated.  Are things up to date on the deployment machine itself or have they been manually booted so far? cc @avsm and @mor1

[2017-03-01 16:08] avsm commented on #531
Things are uptodate on the deployment machine but not pushed to the repo -- sorting now.

[2017-03-06 07:21] yomimono commented on #531
@avsm please push to the repo today if you have time.

[2017-03-06 10:08] #375 closed

[2017-03-06 10:09] yomimono commented on #323
@amirmc, feel free to reopen this if it's still relevant.

[2017-03-06 10:09] #323 closed

[2017-03-06 10:16] yomimono commented on #267
@amirmc, do you have time to revisit this?  The page in question could still use some attention, and I know you were trying a run-through of the instructions.

[2017-03-06 15:57] amirmc opened #539 "Improve intro instructions"
I've been trying to run through the instructions for building `mirage-www` on macOS and used to 'just work' — however, it seems things have diverged somewhat from the unix instructions.  For example (after a chat with @yomimono), I should have done `mirage configure -t macosx --net direct --dhcp true`, whereas the current instructions only say `mirage configure -t unix --net direct ` (and also men

[2017-03-06 15:58] amirmc commented on #267
Closing this as I think we should look over the instructions afresh (see #539).

[2017-03-06 15:58] #267 closed

[2017-03-07 17:15] olleolleolle opened #544 "[wiki] Missing articles: COW, HTCaML"
This is to note that the wiki page has broken links to two articles.

- https://mirage.io/wiki/cow
- https://mirage.io/wiki/htcaml

(The other article links work!)

[2017-03-08 17:33] amirmc commented on #309
Not sure if I ever added these but closing this anyway.

[2017-03-08 17:33] #309 closed

[2017-03-09 12:04] #544 closed

[2017-03-09 12:05] olleolleolle commented on #544
\o/

[2017-03-22 19:32] yomimono opened #547 "build looks broken on xen"
See https://s3.amazonaws.com/archive.travis-ci.org/jobs/213962596/log.txt (build log from [tcpip](https://github.com/mirage/mirage-tcpip)'s unit tests, which finish by attempting to build mirage-www) for more details.

[code]
(snip)
[code]

[2017-03-22 19:56] samoht commented on #547
Not sure why we are linking with Base

[2017-03-22 20:29] avsm commented on #547
Oh oh

[2017-03-23 06:33] hhugo commented on #547
The dependency chain is `uri -> sexplib -> base`

[code]
One can fix the js_of_ocaml invocation by adding `+base/runtime.js`

[2017-03-23 11:44] hannesm commented on #547
this is pretty annoying... I can see two possible solutions: split the universe and constrain all packages depending on `sexplib` to `<=113.33.03`, or have some `base-freestanding` and `base-xen` library...

In the end, maybe a dependency-free sexplib would be the way to go -- it'd be rather sad to have `base` as a dependency for all mirage unikernels.

[2017-03-23 18:13] yomimono commented on #547
Builds again now that constraints on mirage-xen are in opam-repository.

[2017-03-23 18:13] #547 closed

[2017-03-25 17:15] crd477 opened #548 "Blog feed does not validate"
I want to subscribe to the blog in Thunderbird but the feed does not seem to validate.  validator.w3.org implicates `Undefined root element: atom:tag`:

[http://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fmirage.io%2Fblog%2Fatom.xml](http://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fmirage.io%2Fblog%2Fatom.xml)

[2017-04-12 15:41] yomimono commented on #531
We discussed this tarpit in the biweekly call today and we'll have mirage-www use its own deploy scripts, outside of ocaml-ci-scripts.   That will also free up the `mirage` deploy script in `ocaml-ci-scripts` to be more useful in the general case (see https://github.com/ocaml/ocaml-ci-scripts/pull/162 ).

[2017-04-21 17:44] crd477 commented on #548
Has anyone had a chance to look at this?  I'd love to get notifications for new entries to your blog.

[2017-04-24 15:19] yomimono commented on #531
It looks like http://solo5.mirage.io/ is not getting updates alongside https://mirage.io - @avsm, was this a TODO?

[2017-04-24 15:27] mato commented on #531
Do we have the website deployment chain documented somewhere? I'd like to look into having DNS-load-balanced instances running on Solo5 but have no idea where to start.

[2017-04-24 15:51] mor1 commented on #531
Possibly not :(

It's a bit old school. I suspect this should be made better with Datakit at some point (?)

Last I looked, the `mirage-www-deployment` repo linked above has the scripts. The basic idea is:
* when a PR to `mirage-www` is merged,
  * the Travis CI script builds it and,
  * if successful, commits the Xen build outputs to `mirage-www-deployments`;
* meanwhile, there's a cronjob runnin

[2017-04-24 16:44] amirmc commented on #531
@mato, the summary by @mor1 is my understanding of how things are meant to work.  There are some very out of date pseudo-docs in a blog post from a while ago, but I think a number of details have changed since then (http://amirchaudhry.com/heroku-for-unikernels-pt1#the-scripts-for-decksopenmirageorg)

[2017-04-24 16:48] mato commented on #531
@amirmc @mor1 Thanks both of you, I'll look into setting something up for Solo5 when I have time.

[2017-05-10 13:47] amirmc opened #551 "Blog post on improved debugging story"
There's probably an issue about this already so this is just in case.

@yomimono mentioned that we're abel to use `gdb` in certain contexts.  Collating the current state-of-the-art into a blog post would be great :)

[2017-05-18 12:20] yomimono commented on #548
Thanks for the report, @crd477 , and your patience on a reply .  @samoht @djs55 or @avsm , do you know how the RSS feed is generated (I suspect via Cowabloga)?

[2017-05-18 12:20] yomimono commented on #539
@amirmc Do you want to block out time to work on this soon?

[2017-05-18 12:21] yomimono commented on #513
I think we've written all of the release-related MirageOS 3 blog posts we're going to write.

[2017-05-18 12:21] #513 closed

[2017-05-18 12:22] #419 closed

[2017-05-18 12:24] yomimono commented on #330
The deployment workflow is working correctly for https://mirage.io , but we need to do some additional work to get http://solo5.mirage.io/ (and any other mirrors we may decide to make) updating automatically as well.

[2017-05-18 12:24] #285 closed

[2017-05-18 12:27] djs55 commented on #548
My guess is that `cowabloga` uses `cow`. This looks suspicious: https://github.com/mirage/ocaml-cow/blob/master/src/cow_atom.ml

[2017-05-18 12:28] yomimono commented on #203
Please reopen if you think this still needs doing.

[2017-05-18 12:28] #203 closed

[2017-05-18 12:40] yomimono commented on #548
Ah, indeed; some attention there could probably resolve this issue as well as https://github.com/mirage/mirage-www/issues/319 .

[2017-05-18 14:03] yomimono commented on #488
We've been leaving this issue open as a proxy for "better performance testing for `mirage-tcpip`", but I've just opened a real issue for that over at https://github.com/mirage/mirage-tcpip/issues/314 .  As such, I'm closing this issue.  Please do continue to report performance problems as you see them; this was extremely helpful and we're grateful for your contribution, @jmitchell !

[2017-05-18 14:03] #488 closed

[2017-06-09 23:03] yomimono opened #557 "stats module no longer builds"
See https://s3.amazonaws.com/archive.travis-ci.org/jobs/235226171/log.txt?X-Amz-Expires=30&X-Amz-Date=20170609T230212Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170609/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=73b70248fb4684ca3a74e1ef5c4818b6f2f2aa8b029464b238200416370d1a96 for an example:

[code]

[2017-06-23 09:52] allisonrandal opened #560 "Updates for Mirage on wiki.xen.org and www.xenproject.org"
I'm sure this isn't quite the right place to post these, but I'm hoping the maintainers for mirage.io can point me toward whoever is maintaining the Mirage content on the Xen Project pages (or perhaps are even the same group of people).

1) On the historical wiki page for Mirage's application to join the Xen Project Incubator:

https://wiki.xen.org/wiki/Mirage_Incubation_Project_Proposal

There's

[2017-06-23 13:56] avsm commented on #560
Thank you for reporting this!

We updated the Xen wiki several releases ago and it's essentially been untouched since then. @larskurth -- what do you think the best thing to do here?  We could either remove all the duplicated content on the Xen wiki and point to this website, or update it. The latter will result in it being more out of date very soon though...

[2017-06-24 08:11] larskurth commented on #560
I would put a landing page on the xen wiki, and re-direct existing pages that are out-of-date, to the place where the information is most likely kept up-to-date
We can also delete/archive pages where this is the best option
Lars

[2017-06-24 08:36] avsm commented on #560
Thanks @larskurth, that sounds good to me. Now for the hard bit -- remembering my wiki password :-)

[2017-07-05 02:50] yomimono commented on #531
https://github.com/ocaml/ocaml-ci-scripts/pull/162 was just merged and will require changes to `mirage-www` for deployments and testing to work again.  I'm not available to make those changes until late July at the earliest.  Perhaps @mor1 , @avsm , @amirmc , @talex5 , or @samoht has time to fix the build?

[2017-07-05 08:56] samoht commented on #531
As I have merged the offending PR, I will have fix the build :-)

[2017-07-05 09:03] mor1 commented on #531
Related to this-- does anyone think it would be a good idea / have strong objections to me putting together a PR to cause `mirage-www` to be built with [dommage](https://github.com/mor1/dommage)? (Ie., containerising the build environment)

[2017-07-05 09:05] samoht commented on #531
@mor1 not al all. Anything which make the deployment of mirage-www faster and simpler is welcome. Do you want me to try to fix the build before and your are taking care of this as well?

[2017-07-05 09:09] mor1 commented on #531
Let me take a look now-- hopefully I can fix in passing.

[2017-07-05 21:03] mor1 commented on #531
Ok-- I've had a crack at this. Need to fix the `dommage-deploy` script, but seems to work for me otherwise (cf #561). Will be fixing up the deployment end.

[2017-07-05 21:04] yomimono commented on #531
Thanks for your work on this, @mor1 :)

[2017-08-11 10:51] talex5 opened #563 "Explain how to get token from opam-publish"
https://mirage.io/wiki/packaging says:

But:

[code]

How do I get the token?

[2017-08-28 12:22] wagnersmarques1 opened #565 "Out of Memory - Mirage on Xen"
Hello. I'm working with MirageOs on Xen. I created unikernel with a simple web page. However, my unikernel Crash and show the error message: "Out of memory". In addition, I tested the examples mirage-www and static web application of the mirage-skeleton and error persist. This error occurs when I do some requests with Apache Benchmark (AB).

`MirageOS booting...
Initialising timer interface
Initia

[2017-08-28 12:32] samoht commented on #565
How much memory did you give to your Xen VM?

[2017-08-28 13:24] wagnersmarques1 commented on #565
Thanks for the answer. I tested it with various amounts. However, when I have provided more memory, the VM responds to a larger number of requests, but the problem occurs in the same way. I currently place 256MB and the error occurs with 500 requests. I do not know if this error should occur according to the amount of memory or the problem is in the Xen configuration...

www.xl:

`# Generated by m

[2017-09-20 02:19] adamrk commented on #557
Not sure if this is related, but I tried to build following the steps at https://mirage.io/wiki/mirage-www and ran into the following error on building the stats module:
[code]

[2017-09-21 23:31] adamrk commented on #557
Nevermind, my issue was caused by https://github.com/ocaml-ppx/ppx_deriving/issues/147 .

[2017-11-04 15:20] salamynder opened #568 "tls cert expired"

[2017-11-08 10:24] #568 closed

[2017-12-03 16:03] #365 closed

[2017-12-20 13:13] talex5 commented on #563
This seems to work:

Use the GitHub web interface to request a "Personal access token" and save this as `~/.opam/plugins/opam-publish/$USER.token`, where `USER` is your GitHub username. This file contents will be a single line containing just the token.

[2018-01-05 14:31] hannesm commented on #448
I'm closing this.  mirage#517 was addressed and is closed now, as is mirage-net-xen#39.  our website is also up and running right now :)

[2018-01-05 14:31] #448 closed

[2018-01-05 16:58] hannesm commented on #270
On https://mirage.io/community/ below "The community", second paragraph, links to contribution guide and our pioneer projects. closing this issue, if you feel it should be linked more, please open a PR :)

[2018-01-05 16:58] #270 closed

[2018-01-09 17:11] talex5 commented on #563
Additional notes:

- The token file MUST NOT contain an end-of-line character. If it does, it will be automatically deleted and you will have to create another one. In vi, `set binary noeol` will allow you to save the token correctly.
- `topkg` will force-push ALL branches and tags in your repository, without confirmation, so first make a fresh clone and do the release from there to avoid losing a

[2018-01-15 17:48] crd477 commented on #548
I recently watched @yomimono's 34c3 talk (great job, BTW) and was reminded of this problem.
I just did some manual XML dorking and it looks like simply replacing `<tag ...>` and `</tag>` with `<feed ...>` and `</feed>` allows it to pass the W3 Feed Validation Service.

[2018-01-27 00:42] bcc32 opened #600 "mirage.io not accessible"
Dunno if this is the proper place to report this, but it doesn't seem like I'm able to access the mirage.io website.  Pings time out too.

[2018-01-27 14:33] hannesm commented on #600
thanks for reporting, AFAIK @avsm is working on that!

[2018-01-28 08:50] bcc32 commented on #600
Looks like it's been resolved, I think.

[2018-01-28 08:50] #600 closed

[2018-01-30 22:21] aluuu opened #601 "Expired certificate used for mirage.io"
Hello,

Problem:
I've just spotted that certificate which is deployed on mirage.io has expired a couple of hours ago.

Steps to reproduce:
[code]
or just open https://mirage.io in your browser.

Could you please fix this?

[2018-02-14 03:59] m4lu opened #602 "Add Propaganda section to website"
I was looking over the website earlier and noticed that there is no dedicated section in it dealing with propaganda material and what to look out for when creating such.

I like it when projects gather such community related material in some place and the website would be a good place for that. The OpenBSD people have an overview of past hackathons and the custom logos they create for those (see h

[2018-03-15 14:28] yomimono commented on #601
belated thanks for the notification :) the current cert is good until may 1, 2018.

[2018-03-15 14:28] #601 closed

[2018-03-15 14:31] yomimono commented on #426
I believe this is now correct with `mirage` trunk:

[code]

[2018-03-15 14:31] #426 closed

[2018-03-15 14:32] #210 closed

[2018-03-15 15:53] #216 closed

[2018-03-15 16:22] aluuu commented on #601
Hooray, thanks!

[2018-03-15 18:53] whirm commented on #426
I'll give it a shot, thanks!

[2018-04-06 20:11] yomimono commented on #300
There are folks currently working on this for the new edition of Real World OCaml. I hope we can repurpose their work here (and elsewhere in the Mirage ecosystem).

[2018-04-28 17:01] hannesm commented on #548
good news, everyone: I analysed and debugged the same issue as @crd477 @djs55 and provided a pull request https://github.com/mirage/ocaml-cow/pull/101 (this won't solve #319)
once that is merged + released, and mirage-www is redeployed, there'll be a validating feed again :)

sorry that it took so long (and I only after debugging and opening the PR came across this issue)

[2018-05-03 10:07] hannesm opened #606 "certificate expired"
the let's encrypt certificate for mirage.io expired on may 1st... /cc @avsm

[2018-05-03 22:03] avsm commented on #606
renewed (and udns deployment back on the todo list)

[2018-05-14 15:13] samoht commented on #548
https://github.com/ocaml/opam-repository/pull/11896 and https://github.com/ocaml/opam-repository/pull/11979 have been merged, and I have just re-trigered a TravisCI build for mirage-www so hopefully the feed should validate pretty soon now.

[2018-05-16 08:48] samoht commented on #548
Re-opening as the feed is still broken ...

[2018-05-16 08:55] samoht commented on #548
Right, it took a bit of time to shutdown the previous VM, so the new one now validates. Yay!

[2018-05-16 08:55] #548 closed

[2018-07-06 19:01] yomimono commented on #602
There is now a repository at https://github.com/mirage/mirage-propaganda which could be referred to directly.

[2018-08-01 17:32] hannesm commented on #606
3 months later, the certificate again expired...

[2018-08-09 07:07] dromer commented on #606
It's called a 'cronjob' people :stuck_out_tongue:

[2018-08-09 09:11] dmbaturin commented on #606
...and the web server plugins can even setup it by themselves. :)

[2018-08-11 09:35] sidkshatriya commented on #606
@avsm The certificate has expired again. As suggested above, an auto-renew cronjob will help though that might be difficult if the website itself is a microkernel...

[2018-10-08 18:16] samoht opened #618 "stats are broken"
For some reasons https://mirage.io/js/stats/main.js does not seem be served and so https://mirage.io/stats/gc shows nothing.

[2018-10-22 23:36] KenDickey opened #619 "Please update to ocaml 4.07.0"
Greetings,

I have been playing with mirage-skeleton, got applications/static_website_tls working (hvt/RPi3/ArchLinuxArm) and thought to try it with mirage-www.

It appears this is somewhat dated (see below).

Can some kind person email me when the code is updated for the current ocaml release?

Thanks much,
-KenD  [ Ken (dot) Dickey (at) Whidbey (dot) com ]

[make-prepare.txt](https://github.com/

[2018-11-01 11:11] mato commented on #619
@KenDickey Yes, the `mirage-www` stack is currently stuck on 4.05.0 due to the Xen platform stack only supporting OCaml <= 4.05.0. This should change by the end of the year with a refreshed Xen platform stack which is in progress.

Having said that, the tooling and general design of `mirage-www` is really in need of an overhaul, so I wouldn't bother with it as something to learn from.

[2018-11-20 08:54] samoht opened #621 "Deployment issue of 20/11/2018"
https://twitter.com/h4nnes/status/1064776312970256384

[2018-11-20 08:58] samoht commented on #621
The last known working version of the website was apparently built with a pinned version of [mirage to 3.0.7 (???)](https://travis-ci.org/mirage/mirage-www/jobs/434631757#L884). This is possible that we were carrying a patch for the block device renumbering for a very long time...

[2018-11-20 08:59] samoht commented on #621
So the issue is likely to be caused by https://github.com/mirage/mirage-www/commit/9b75e742519602ef3c53487da037cb3e76893591 /cc @hannesm Could we just revert this temporary?

[2018-11-20 09:09] samoht commented on #621
A proper fix should probably be to change the name of the disk used to deploy https://mirage.io here: https://github.com/mirage/mirage-www-deployment/blob/master/scripts/deploy-tls.sh#L40

/cc @djs55 @jonludlam Any opinion on the right fix to make the device name match the reality?

[2018-11-20 09:44] samoht commented on #621
update: #622 was reverted because it breaks with opam2...

[2018-11-20 12:36] djs55 commented on #621
I guess the core problem is that the kernel is really a function
[code]
and we need to find a nice way to supply the `disk_path` arguments at runtime, since the deployment system will be different to the build one.

The `.xl.in` file + kernel binary is a bit of a hacky way to represent the function, since we have to apply the arguments using `sed`. It would work if the `xl.in` file and the kernel

[2018-11-20 18:53] samoht commented on #621
Closing as the https:/mirage.io is back online :-) Many thanks to everyone involved!

[2018-11-20 18:53] #621 closed

[2018-11-20 21:02] hannesm commented on #621
yes, thank you to everyone involved! I'm glad we're now using a current version of mirage and can redeploy our website

[2018-11-20 21:52] samoht commented on #621
@djs55 did you commit your changes to https://github.com/mirage/mirage-www-deployment or did you just update the configuration on the server?

[2018-11-20 22:32] djs55 commented on #621
I just modified the checked-out copy-- I replaced xvdg with xvdb.

On Tue, 20 Nov 2018, 21:52 Thomas Gazagnaire <notifications@github.com
wrote:

[2018-11-21 09:34] samoht commented on #621
Can you push that change upstream so that we won't have the same issue next time? :-) Thanks!

[2018-11-22 18:32] djs55 commented on #621
I've pushed my change. Note however the `git diff` on the deployment machine is large so it looks like there are more unchecked-in changes:

[code]

[2019-02-15 00:00] sthibaul commented on #606
The certificate of mirage.io has expired again :)

[2019-03-03 17:26] avsm commented on #619
mirage-xen does now work on 4.07, but the rrd library is holding us back.  I'll take a look at that next...

[2019-03-10 20:55] #619 closed

[2019-04-28 14:28] naartjie opened #642 "Is the example in the Lwt tutorial correct?"
Should this [line](https://github.com/mirage/mirage-www/blame/ff9d904444d1d40ade447179552d071d99e95633/tmpl/wiki/tutorial-lwt.md#L306) in the tutorial:

[code]

not read like this instead?

[code]

[2019-04-28 14:35] hannesm commented on #642
yes - you are right, would you mind filing a PR to this repository?

[2019-04-28 15:07] naartjie commented on #642
Thanks @hannesm, PR #643

[2019-04-28 19:35] #642 closed

[2019-05-17 03:35] gavinbeatty commented on #606
Expired today, May 16.

[2019-08-15 07:45] hannesm commented on #606
expired today again, on august 15th...

[2019-11-14 10:44] mircea-cosbuc commented on #606
expired today, on November 14

[2020-02-10 03:44] arbipher opened #664 "invalid link in wiki/faq"
In the last section (Q: What's next for MirageOS?) in [mirage/wiki/faq](https://mirage.io/wiki/faq),

The link for initiatives is invalid.

[2020-02-12 17:42] stensonb commented on #606
my turn!!  :)  now expired: Feb 12 2020 12:50 UTC

[2020-02-24 12:08] Alakazam03 opened #666 "Setup through dockerfile"
I am trying running mirage-www as a container. I built the image using dockerfile
`docker build -t mirage-www .` and then ran it using `docker run -it mirage-www`.

Output: 2020-02-24 12:01:56 +00:00: INF [tcpip-stack-socket] Manager: connect
2020-02-24 12:01:56 +00:00: INF [tcpip-stack-socket] Manager: configuring
2020-02-24 12:01:58 +00:00: INF [dispatch] Listening on http://localhost/

I am not

[2020-02-24 13:26] talex5 commented on #666
You'll need to tell Docker to connect a port on the host to the container, e.g.

[code]

Then visit <http://localhost:8080/>

[2020-03-04 05:02] Alakazam03 commented on #666
Hi thanks for the reply. I am trying to a unikernel inside a container for a college project. I pulled unikernel/mirage image from docker hub and tried running skeleton applications from github. But i am getting some errors in achieving that. Please can someone explain me the concept and how to go forward? @talex5 @olleolleolle

[2020-03-09 17:24] #666 closed

[2020-05-16 14:17] knobo commented on #606
So... Should I say something? It is May...

[2020-05-16 14:32] dmbaturin commented on #606
Are the maintainers secretly doing it to see if there are any visitors that care about the website? ;)

[2020-05-16 15:16] hannesm commented on #606
thanks for your reminder. now, 2 years later we finally have a deployment for https://mirage.io where the let's encrypt issuance and renewal is automated using MirageOS unikernels and ocaml-letsencrypt :D it's definitively worth a blog post / tutorial how to get there.

[2020-05-16 15:16] #606 closed

[2020-06-09 13:53] avsm commented on #531
Using ocurrent for deployment since #677

[2020-06-09 13:53] #531 closed

[2020-06-18 22:20] #319 closed

[2020-07-05 08:44] slegrand45 opened #681 "docs.mirage.io gives a 404 error"
Hello,

If i click on the API tab from https://mirage.io/, i get a 404 error.

The tab is defined here: https://github.com/mirage/mirage-www/blob/88b5e763ea8e9685c437bfb298171f1afbafab91/src/pages.ml#L59

[2020-08-25 15:38] talex5 commented on #681
Looks like this is the cause: https://github.com/mirage/docs/issues/4

[2020-08-25 21:14] hannesm commented on #681
thanks for your report, it is working now again (thanks to @dinosaure)

[2020-08-25 21:14] #681 closed

[2020-11-17 00:25] #664 closed

[2021-10-05 10:11] samoht opened #704 "Tracking issues for blog posts/articles to accompany the MirageOS 4 release"
Similar to to #513 but for MirageOS 4. I am opening this issue to organize our communication around the upcoming release.

Here is the current plan (days are tentative):
- Day 1:
  - Linux Foundation press release
  - Mirage 4.0 release announcement (we want to dedicate the release to [Lars](https://xenproject.org/2020/01/31/saying-goodbye-to-lars-kurth-open-source-advocate-and-friend/))
- Day 3

[2021-10-05 10:19] hannesm commented on #704
The issue with "something about reproducible builds" is that for MirageOS 3.x we have everything in place (https://hannes.robur.coop/Posts/Deploy https://builds.robur.coop) -- while the story for MirageOS 4 is not yet clear (I discussed with @dinosaure to go more in depth in Mirleft in November with @TheLortex and @dinosaure).

[2021-10-05 10:24] samoht commented on #704
Ok no pb! Anything else you would be interested to write for the release? Maybe a summary of the nice unikernel apps that you've been developing at Robur (like OpenVPN?)? (or something about DNS which might be timely given the recent Slack and FB outages? :p)

[2021-10-05 10:47] dinosaure commented on #704
I think it should be a good place to talk about `mirage-crypto` too:
- the incredible work from @hannesm about its integration of [`fiat`][] into `mirage-crypto`
- our work on `eqaf`
- and the story behind `mirage-crypto` generally which is a big package in our ecosystem

Then, I agree with @samoht to talk about `ocaml-dns` since we started to deeply use it (if only for our domain name).

Finally,

[2021-10-05 11:21] dinosaure commented on #704
Ah and may be we missed it but I think it improved a lot our ecosystem but we should talk about `ocaml-ci` (@avsm, @talex5) as our default CI for any of our MirageOS projects. It solves many issues and specially big-endian support and 32-bits architecture support which, IMHO, is in the spirit of MirageOS projects where our software should work everywhere.

[2021-10-05 11:24] dinosaure commented on #704
And (again), we should talk a bit about the IPv6 support too I think (@MagnusS & @hannesm?).

[2021-10-05 11:47] samoht commented on #704
We should aim to at most 4 or 5 blog posts - it's fine for these to be quite short, and point to existing materials. The goals of these posts are to showcase existing work and give their context. So we can probably merge a few things together if that's easier.

For design overviews/architecture documents, it's better to create a separate entry in the wiki/tutorial guides (that we can keep up-to-da

[2021-10-05 16:08] hannesm commented on #704
This is already announced in https://mirage.io/blog/announcing-mirage-310-release

[2021-10-05 16:13] hannesm commented on #704
sure, although there's some gap of it still not released to opam

there are some points to DNS (none of which are really related to MirageOS 4) that are still under development:
- DNS client using multiple nameservers (just merged that PR) via happy-eyeballs
- DNS-over-TLS (WIP https://github.com/mirage/ocaml-dns/pull/267)
- DNSSec (not done yet, see https://github.com/mirage/ocaml-dns/issues/236

[2021-10-05 16:15] hannesm commented on #704
See https://hannes.robur.coop/Posts/EC for my writeup in that respect. Feel free to link to that blog post as well ;)

Note: I'm happy to write a blog post, but atm I'm not entirely sure what about. Eventually the builds.robur and albatross integration -- but then this will have to wait until builds.robur uses MirageOS4. Eventually deployment with albatross + DHCP + binary builds, but this needs t

[2021-10-05 16:19] hannesm commented on #704
Eventually the CA https://github.com/paurkedal/ephca is also a nice use case, and the sshfs https://github.com/palainp/mirage-sshfs (I have tested neither of them and am not sure how early-development they are).

[2021-10-05 17:41] dinosaure commented on #704
Currently, we are able to send an email with DKIM/SPF mechanism and a service such as Google can receive emails and does not throw them as a spam. I can share in private some outcomes about the current status of such stack if you want.

[2022-02-08 11:03] dinosaure commented on #704
@TheLortex and me probably want to write down something about `gilbraltar` when we discover many interesting things (the complexity of a bare-metal Operating System according our cross-compilation workflow, the signal system and so on). WDYT?

[2022-02-27 17:48] #482 closed

[2022-02-27 17:48] #492 closed

[2022-02-27 17:51] #557 closed

[2022-03-08 12:41] hannesm opened #720 "remove generated stuff from repo"
in #719 @TheLortex mentions that `data/mirageio_data.ml` is auto-generated (has a dune rule) and should not be part of this repository (/cc @tmattio)

[2022-03-08 13:18] tmattio commented on #720
IIRC, we did it this way in ocaml.org because we wanted the data to be used elsewhere (a ReScript code base).
There's no reason to have the data exposed as a library for Mirage's website as far as I can tell, so it should be good to remove the generated modules from the codebase.

[2022-03-26 09:02] #720 closed

[2022-03-30 15:16] christinerose opened #738 "Monospace Broken on Mirage.io"
I noticed on the recent blog posts that the `monospace` text are displaying the formatting back ticks rather than converting it into monospace

[2022-03-31 09:42] reynir commented on #738
It seems it's caused by the CSS FWIW.

[2022-04-11 17:45] MisterDA commented on #738
Also it would be super nice if the monospace font was slightly bigger, and the code samples syntax highlighted.

[2022-04-11 18:09] hannesm commented on #704
Thanks for the organisation and the release to everyone, especially @samoht @dinosaure @christinerose @TheLortex. I suspect this issue is done and will close it. If there's something left, please reopen. :)

[2022-04-11 18:09] #704 closed

[2022-04-12 00:44] christinerose commented on #704
You're welcome, @hannesm! It was my pleasure to work with this team. 😀

[2022-04-12 13:51] samoht commented on #704
Many thanks to everyone involved, we managed to publish great content for 2 weeks without missing any slot! 🎉 And many many thanks to @christinerose to coordinate all of this :-)

[2022-04-12 17:53] reynir opened #750 "2022-03-30.cross-compilation: reference to non-existant `src/`"
I believe the `src/` directory mentioned here does not exist, and judging by its contents I think it should be `./dune` rather.
https://github.com/mirage/mirage-www/blob/54994c0861706f146975839299208377df3e2440/data/blog/2022-03-30.cross-compilation.md?plain=1#L70

[2022-04-20 14:33] davisuga opened #751 "Add syntax highlighting to code examples"
It would enhance the readability of the examples and look really nice. I personally like PrismJS for this task, but I'm not really picky with it.

I would be happy to contribute with a PR for this :)

[2022-05-05 18:36] davisuga opened #755 "Build error while running `make deps`"
[code]

[2022-05-05 18:42] davisuga opened #756 "Build error while building the unikernel"
The previous steps (configure and depends) runs successfully, but I get the following error while running `dune build mirage/           `:
[code]

[2022-05-11 11:34] dinosaure commented on #755
Hmmhmm, this issue is more related to [`digestif`](https://github.com/mirage/digestif), can you repost this issue on this repository and explain your platform (system, opam version, ocaml version or more generally a context which is able to reproduce this error)?

[2022-05-11 11:36] dinosaure commented on #756
Can you give to use the version of `dune`, your platform and the version of `opam`?

[2022-05-11 13:36] davisuga commented on #756
Yes, I'm using `dune 3.0.3` and `opam 2.1.0`

[2022-05-11 13:45] davisuga commented on #755
Idk why, but it worked fine when I tried it again today.

[2022-05-11 13:48] davisuga commented on #756
And it outputs the same error when I run `make build`

[2022-05-11 13:52] davisuga opened #757 "Build error while running `make build`"
OS: Linux Mint 20.02 Uma
OCaml: 4.14
Opam: 2.1.0
Dune: 3.0.3

Output:

[code]

[2022-05-30 11:33] hannesm commented on #357
Closing, the stats has been removed when the website rework was done (for MirageOS4).

[2022-05-30 11:33] #357 closed

[2022-05-30 11:33] hannesm commented on #363
Closing, since the stats pages are gone now.

[2022-05-30 11:33] #363 closed

[2022-05-30 11:34] hannesm commented on #462
The new deployment model does no longer use ocaml-ci-scripts, neither do we have races there (at least not as described here). Closing.

[2022-05-30 11:34] #462 closed

[2022-05-30 11:34] hannesm commented on #618
They have since been removed in the MirageOS4 rework of the website.

[2022-05-30 11:34] #618 closed

[2022-05-30 11:51] TheLortex commented on #363
Note that I have worked on adding a metrics endpoint that we could use for monitoring: https://github.com/mirage/mirage-www/pull/714

[2022-06-27 08:28] dinosaure opened #760 "Update or re-created something about Pioneer Project"
Currently, the link to pioneer project is dead. We probably should update it for newcomers.

[2022-09-03 13:58] d-s-d commented on #757
I have the same issue on OS x.

`➜  mirage-www git:(master) ✗ uname -a
Darwin ... 21.6.0 Darwin Kernel Version 21.6.0: Wed Aug 10 14:28:23 PDT 2022; root:xnu-8020.141.5~2/RELEASE_ARM64_T6000 arm64`

`
opam exec -- dune build --root . @install
-e \e[2musing overlay repository mirage: [opam-overlays, mirage-overlays] \e[0m
[opam-overlays] no changes from git+https://github.com/dune-universe/opam-ove

[2022-09-04 16:08] TheLortex commented on #757
Hi, thanks for reporting the issue.
To help investigating its cause, can you check if there is a `dune` file in the `mirage/duniverse/` folder ? If so, what is its content ?

[2022-09-04 17:03] d-s-d commented on #757
@TheLortex thanks for the quick response!

here again the command that I'm running ...

[code]

and the content of the `dune` file ...

[code]

[2022-09-05 08:54] TheLortex commented on #757
For the tailwind error, please install tailwind either using the instructions found on https://tailwindcss.com/docs/installation or via opam: `opam pin git+https://github.com/tmattio/opam-tailwindcss#fb0f82edd09999f7be033ab1785ba5f6b60ed8f6`

The other one is trickier: the `(vendored_dirs *)` is supposed to make dune ignore warnings in the `duniverse` subtree.

I'll try to reproduce in a fresh ins

[2022-09-06 15:25] TheLortex commented on #757
Using `dune build --profile release mirage/` should go through.

However it remains unexpected that a warning from a package in the `duniverse/` folder is being treated as an error. I'll open an issue on that matter.

[2022-09-06 20:00] d-s-d commented on #757
the exact steps that I take

[code]

[2022-09-21 12:41] RyanGibb opened #763 "pindepends of dream to git repo doesn't clone submodules"
dream is pinned with
[code]
The tarballs from opam contain submodules in dream/src/vendor. Pinning this to a git repo doesn't seem to do a recursive clone, resulting in the error:
[code]
This can be fixed with
[code]

[2022-09-21 12:42] RyanGibb opened #764 "ocaml-yaml fails to build in monorepo"
[code]

[2022-09-21 12:43] RyanGibb commented on #764
This was fixed with https://github.com/RyanGibb/opam-nix/commit/64859a2881e565a71fd93c5c14f77e4329f57a4b for building with nix

[2022-09-21 12:44] RyanGibb commented on #763
This was fixed with https://github.com/RyanGibb/opam-nix/commit/64859a2881e565a71fd93c5c14f77e4329f57a4b for building with nix

[2022-09-21 12:46] RyanGibb commented on #764
Okay, these appear to just be warnings.

[2022-09-21 12:46] #764 closed

[2022-09-21 13:09] RyanGibb opened #765 "warnings in dream/paf dependancy cause `dune build` to fail"
[code]
Using `profile --release` fixes this:
[code]

[2022-09-21 13:42] RyanGibb opened #766 "unikernel fails to build for non-unix targets"
[code]

This is caused by Zarith=1.12+dune depending on unix:
https://github.com/dune-universe/Zarith/blob/512da67bd11f41f7c51c846e971de7bcac3ab9b7/dune#L22

[2022-09-21 14:45] dinosaure commented on #766
You shouldn't take the `Zarith+dune` version but the `Zarith+dune+mirage1` version. What is your workflow? Did you invoke `opam monorepo` with `--require-cross-compile`?

[2022-09-21 14:52] RyanGibb commented on #766
Yes I've just realized this! (Pretty much exactly at your comment.)  I'm using nix to build mirage-www with this project: https://github.com/RyanGibb/hillingar. The problem was I wasn't using https://github.com/dune-universe/mirage-opam-overlays/. This commit fixes the issue https://github.com/RyanGibb/opam-nix/commit/a110a9a4e146c95975a4aa9c2a7809333da4cba8

[2022-09-21 14:52] #766 closed

[2022-10-30 21:59] shonfeder opened #770 "Use MDX to ensure the examples in the documentation are runnable"
While working through the exercises for #769 I noticed a few places where the commands in the examples had strayed from the actual state of the code. Without tests to check this, it can be quite laborious to keep such things in sync.

MDX would be a good fit here, tho I expect that would mean either moving https://github.com/mirage/mirage-skeleton into this repo, or including it as a git sub-modul

[2022-11-08 13:33] kit-ty-kate opened #772 "mirage.io/community/ returns an blank 404 page"
* `mirage.io/community` works fine
* `mirage.io/community/` returns a blank page
* `mirage.io/communit` returns a proper 404 page

note that `community/` is the one i got redirected to from duckduckgo

[2022-11-08 13:34] kit-ty-kate opened #773 "http://mirageos.org redirects to mirage.io but https://mirageos.org does not"
Not sure if it’s intended.

[2022-11-22 14:53] kit-ty-kate opened #774 "curl -sI https://mirage.io returns 404 but works fine without -I"
[code]
It's not bad bug or anything but this might be a display of a problem in one of the libraries

[2022-11-22 15:04] TheLortex commented on #774
Dream has nothing to handle `HEAD` requests, so by default its `404`.
In ocaml.org they also had this issue, here's the patch: https://github.com/ocaml/ocaml.org/pull/576/files